<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Computer Code Elements</h3>
        <p class="text16">HTML contains several elements for defining user input and computer code.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"><span style="color:#999">&lt;</span>code<span style="color:#999">&gt;</span></span><br>x = 5;<br>y = 6;<br>
                      z = x + y;<br><span style="color:#905"><span style="color:#999">&lt;</span>/code<span style="color:#999">&gt;</span></span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML <code>&lt;kbd&gt;</code> For Keyboard Input</h3>
      <p>The HTML <code>&lt;kbd&gt;</code> element is used to define keyboard input. The content inside is displayed in the browser's default monospace font.</p>
      <div class="p-6 bg-yellow-600/20 space-y-3.5">
        <h3>Example</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                </span>Save the document by pressing <span style="color:#905">
                  <span style="color:#999">&lt;</span>kbd <span style="color:#999">&gt;</span>
                </span>Ctrl + S <span style="color:#905">
                  <span style="color:#999">&lt;</span>/kbd <span style="color:#999">&gt;</span>
                </span>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                </span>
            </div>
        </div>
        <h3>Result</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div> Save the document by pressing <kbd style="font-family:monospace !important;font-size:13px;">Ctrl + S</kbd>
            </div>
        </div>
        <a href="" class="btn_primary">Try Now</a>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML <code>&lt;samp&gt;</code> For Program Output</h3>
      <p>The HTML <code>&lt;samp&gt;</code> element is used to define sample output from a computer program. The content inside is displayed in the browser's default monospace font.</p>
      <div class="p-6 bg-yellow-600/20 space-y-3.5">
        <h3>Example</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                </span>Message from my computer: <span style="color:#905">
                  <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                </span>
                <br>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                </span>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>samp <span style="color:#999">&gt;</span>
                </span>File not found. <span style="color:#905">
                  <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                </span>Press F1 to continue <span style="color:#905">
                  <span style="color:#999">&lt;</span>/samp <span style="color:#999">&gt;</span>
                </span>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                </span>
            </div>
        </div>
        <h3>Result</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div> Message from my computer: <p>
                <samp style="font-family: monospace !important;font-size:13px;">File not found. <br>Press F1 to continue </samp>
              </p>
            </div>
        </div>
        <a href="" class="btn_primary">Try Now</a>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML <code>&lt;code&gt;</code> For Computer Code</h3>
      <p>The HTML <code>&lt;code&gt;</code> element  is used to define a piece of computer code. The content inside is displayed in the browser's default monospace font.</p>
      <div class="p-6 bg-yellow-600/20 space-y-3.5">
        <h3>Example</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>code <span style="color:#999">&gt;</span>
                </span>
                <br>x = 5; <br>y = 6; <br>z = x + y; <br>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>/code <span style="color:#999">&gt;</span>
                </span>
            </div>
        </div>
        <h3>Result</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <code style="font-family: monospace !important;font-size:13px;padding:0;"> x = 5; y = 6; z = x + y; </code>
              </div>
        </div>
        <a href="" class="btn_primary">Try Now</a>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Preserve Line-Breaks</h3>
      <p>Notice that the <code>&lt;code&gt;</code> element does NOT preserve extra whitespace and line-breaks.</p>
      <div class="p-6 bg-yellow-600/20 space-y-3.5">
        <h3>Example</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>pre <span style="color:#999">&gt;</span>
                </span>
                <br>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>code <span style="color:#999">&gt;</span>
                </span>
                <br>x = 5; <br>y = 6; <br>z = x + y; <br>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>/code <span style="color:#999">&gt;</span>
                </span>
                <br>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>/pre <span style="color:#999">&gt;</span>
                </span>
            </div>
        </div>
        <h3>Result</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <code style="font-family: monospace !important;font-size:13px;color:black;background-color:#fff;padding:0;"> x = 5; <br> y = 6; <br> z = x + y; </code>
            </div>
        </div>
        <a href="" class="btn_primary">Try Now</a>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML <code>&lt;var&gt;</code> For Variables</h3>
      <p>The HTML <code>&lt;var&gt;</code> element  is used to define a variable in programming or in a mathematical expression. The content inside is typically displayed in italic.</p>
      <div class="p-6 bg-yellow-600/20 space-y-3.5">
        <h3>Example</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                </span>The area of a triangle is: 1/2 x <span style="color:#905">
                  <span style="color:#999">&lt;</span>var <span style="color:#999">&gt;</span>
                </span>b <span style="color:#905">
                  <span style="color:#999">&lt;</span>/var <span style="color:#999">&gt;</span>
                </span> x <span style="color:#905">
                  <span style="color:#999">&lt;</span>var <span style="color:#999">&gt;</span>
                </span>h <span style="color:#905">
                  <span style="color:#999">&lt;</span>/var <span style="color:#999">&gt;</span>
                </span>, where <span style="color:#905">
                  <span style="color:#999">&lt;</span>var <span style="color:#999">&gt;</span>
                </span>b <span style="color:#905">
                  <span style="color:#999">&lt;</span>/var <span style="color:#999">&gt;</span>
                </span> is the base, and <span style="color:#905">
                  <span style="color:#999">&lt;</span>var <span style="color:#999">&gt;</span>
                </span>h <span style="color:#905">
                  <span style="color:#999">&lt;</span>/var <span style="color:#999">&gt;</span>
                </span> is the vertical height. <span style="color:#905">
                  <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                </span>
            </div>
        </div>
        <h3>Result</h3>
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                The area of a triangle is: 1/2 x <var>b</var> x <var>h</var>, where <var>b</var> is the base, and <var>h</var> is the vertical height.
            </div>
        </div>
        <a href="" class="btn_primary">Try Now</a>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Chapter Summary</h3>
        <ul class="space-y-1.5 list-disc pl-5">
          <li>The <code>&lt;kbd&gt;</code> element defines keyboard input</li>
          <li>The <code>&lt;samp&gt;</code> element defines sample output from a computer program</li>
          <li>The <code>&lt;code&gt;</code> element defines a piece of computer code</li>
          <li>The <code>&lt;var&gt;</code> element defines a variable in programming or in a mathematical expression</li>
          <li>The <code>&lt;pre&gt;</code> element defines preformatted text</li>
        </ul>               
    </div>
</div>
