<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Input Types</h3>
        <p class="text16">This chapter describes the different types for the HTML &lt;input&gt; element.</p>
    </div>  
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">HTML Input Types</h3>
        <p>Here are the different input types you can use in HTML:</p>
        <ul>
            <li><code>&lt;input type="button"&gt;</code></li>
            <li><code>&lt;input type="checkbox"&gt;</code></li>
            <li><code>&lt;input type="color"&gt;</code></li>
            <li><code>&lt;input type="date"&gt;</code></li>
            <li><code>&lt;input type="datetime-local"&gt;</code></li>
            <li><code>&lt;input type="email"&gt;</code></li>
            <li><code>&lt;input type="file"&gt;</code></li>
            <li><code>&lt;input type="hidden"&gt;</code></li>
            <li><code>&lt;input type="image"&gt;</code></li>
            <li><code>&lt;input type="month"&gt;</code></li>
            <li><code>&lt;input type="number"&gt;</code></li>
            <li><code>&lt;input type="password"&gt;</code></li>
            <li><code>&lt;input type="radio"&gt;</code></li>
            <li><code>&lt;input type="range"&gt;</code></li>
            <li><code>&lt;input type="reset"&gt;</code></li>
            <li><code>&lt;input type="search"&gt;</code></li>
            <li><code>&lt;input type="submit"&gt;</code></li>
            <li><code>&lt;input type="tel"&gt;</code></li>
            <li><code>&lt;input type="text"&gt;</code></li>
            <li><code>&lt;input type="time"&gt;</code></li>
            <li><code>&lt;input type="url"&gt;</code></li>
            <li><code>&lt;input type="week"&gt;</code></li>
        </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Text</h3>
        <p><code>&lt;input type="text"&gt;</code> defines a single-line text input field:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Password</h3>
        <p><code>&lt;input type="password"&gt;</code> defines a <strong>password field</strong>:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="username"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Username: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="username"</span> name <span style="color:#005cc5">="username"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="pwd"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Password: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="password"</span> id <span style="color:#005cc5">="pwd"</span> name <span style="color:#005cc5">="pwd"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Submit</h3>
        <p><code>&lt;input type="submit"&gt;</code> defines a button for &lt;strong&gt; submitting &lt;/strong&gt; form data to a &lt;strong&gt; form-handler &lt;/strong&gt;.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:green"> action <span style="color:#005cc5">="/html_page.php"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> value <span style="color:#005cc5">="John"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span> value <span style="color:#005cc5">="Doe"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="submit"</span> value <span style="color:#005cc5">="Submit"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Reset</h3>
        <p><code>&lt;input type="reset"&gt;</code> defines a reset button that will reset all form values to their default values:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:green"> action <span style="color:#005cc5">="/html_page.php"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> value <span style="color:#005cc5">="John"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span> value <span style="color:#005cc5">="Doe"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="submit"</span> value <span style="color:#005cc5">="Submit"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="reset"</span> value <span style="color:#005cc5">="Reset"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Radio</h3>
        <p><code>&lt;input type="radio"&gt;</code> defines a reset button that will reset all form values to their default values:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>Choose your favorite Web language: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="radio"</span> id <span style="color:#005cc5">="html"</span> name <span style="color:#005cc5">="fav_language"</span> value <span style="color:#005cc5">="HTML"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="html"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>HTML <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="radio"</span> id <span style="color:#005cc5">="css"</span> name <span style="color:#005cc5">="fav_language"</span> value <span style="color:#005cc5">="CSS"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="css"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>CSS <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="radio"</span> id <span style="color:#005cc5">="javascript"</span> name <span style="color:#005cc5">="fav_language"</span> value <span style="color:#005cc5">="JavaScript"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="javascript"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>JavaScript <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Checkbox</h3>
        <p><code>&lt;input type="checkbox"&gt;</code> defines a reset button that will reset all form values to their default values:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="checkbox"</span> id <span style="color:#005cc5">="vehicle1"</span> name <span style="color:#005cc5">="vehicle1"</span> value <span style="color:#005cc5">="Bike"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="vehicle1"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span> I have a bike <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="checkbox"</span> id <span style="color:#005cc5">="vehicle2"</span> name <span style="color:#005cc5">="vehicle2"</span> value <span style="color:#005cc5">="Car"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="vehicle2"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span> I have a car <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="checkbox"</span> id <span style="color:#005cc5">="vehicle3"</span> name <span style="color:#005cc5">="vehicle3"</span> value <span style="color:#005cc5">="Boat"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="vehicle3"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span> I have a boat <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Button</h3>
        <p><code>&lt;input type="button"&gt;</code> defines a button:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="button"</span> onclick <span style="color:#005cc5">="alert('Hello World!')"</span> value <span style="color:#005cc5">="Click Me!"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Color</h3>
        <p>The <code>&lt;input type="color"&gt;</code> is used for input fields that should contain a color.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="favcolor"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Select your favorite color: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="color"</span> id <span style="color:#005cc5">="favcolor"</span> name <span style="color:#005cc5">="favcolor"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Date</h3>
        <p>The <code>&lt;input type="date"&gt;</code> is used for input fields that should contain a date.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="birthday"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Birthday: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="date"</span> id <span style="color:#005cc5">="birthday"</span> name <span style="color:#005cc5">="birthday"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="datemax"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter a date before 1980-01-01: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="date"</span> id <span style="color:#005cc5">="datemax"</span> name <span style="color:#005cc5">="datemax"</span> max <span style="color:#005cc5">="1979-12-31"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="datemin"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter a date after 2000-01-01: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="date"</span> id <span style="color:#005cc5">="datemin"</span> name <span style="color:#005cc5">="datemin"</span> min <span style="color:#005cc5">="2000-01-02"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Datetime-local</h3>
        <p>The <code>&lt;input type="datetime-local"&gt;</code> specifies a date and time input field, with no time zone.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="birthdaytime"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Birthday (date and time): <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="datetime-local"</span> id <span style="color:#005cc5">="birthdaytime"</span> name <span style="color:#005cc5">="birthdaytime"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Email</h3>
        <p>The <code>&lt;input type="email"&gt;</code> is used for input fields that should contain an e-mail address.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="email"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter your email: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="email"</span> id <span style="color:#005cc5">="email"</span> name <span style="color:#005cc5">="email"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Image</h3>
        <p>The <code>&lt;input type="image"&gt;</code> defines an image as a submit button.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="image"</span> src <span style="color:#005cc5">="img_submit.gif"</span> alt <span style="color:#005cc5">="Submit"</span> width <span style="color:#005cc5">="48"</span> height <span style="color:#005cc5">="48"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type File</h3>
        <p>The <code>&lt;input type="file"&gt;</code> defines a file-select field and a "Browse" button for file uploads.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="myfile"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Select a file: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="file"</span> id <span style="color:#005cc5">="myfile"</span> name <span style="color:#005cc5">="myfile"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Hidden</h3>
        <p>The <code>&lt;input type="hidden"&gt;</code> defines a hidden input field (not visible to a user).</p>
        <p>A hidden field allows web developers to include data in a form that remains invisible and uneditable by users upon submission.</p>
        <p>A hidden field often stores what database record that needs to be updated when the form is submitted.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="hidden"</span> id <span style="color:#005cc5">="custId"</span> name <span style="color:#005cc5">="custId"</span> value <span style="color:#005cc5">="3487"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="submit"</span> value <span style="color:#005cc5">="Submit"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Month</h3>
        <p>The <code>&lt;input type="month"&gt;</code> allows the user to select a month and year.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="bdaymonth"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Birthday (month and year): <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="month"</span> id <span style="color:#005cc5">="bdaymonth"</span> name <span style="color:#005cc5">="bdaymonth"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Number</h3>
        <p>The <code>&lt;input type="number"&gt;</code> defines a numeric input field.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="quantity"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Quantity (between 1 and 5): <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="number"</span> id <span style="color:#005cc5">="quantity"</span> name <span style="color:#005cc5">="quantity"</span> min <span style="color:#005cc5">="1"</span> max <span style="color:#005cc5">="5"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Search</h3>
        <p>The <code>&lt;input type="range"&gt;</code> defines a control for entering a number whose exact value is not important (like a slider control). Default range is 0 to 100. However, you can set restrictions on what numbers are accepted with the min, max, and step attributes:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="vol"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Volume (between 0 and 50): <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="range"</span> id <span style="color:#005cc5">="vol"</span> name <span style="color:#005cc5">="vol"</span> min <span style="color:#005cc5">="0"</span> max <span style="color:#005cc5">="50"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Range</h3>
        <p>The <code>&lt;input type="search"&gt;</code> is used for search fields (a search field behaves like a regular text field).</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="gsearch"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Search Google: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="search"</span> id <span style="color:#005cc5">="gsearch"</span> name <span style="color:#005cc5">="gsearch"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Tel</h3>
        <p>The <code>&lt;input type="tel"&gt;</code> is used for search fields (a search field behaves like a regular text field).</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="phone"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter your phone number: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="tel"</span> id <span style="color:#005cc5">="phone"</span> name <span style="color:#005cc5">="phone"</span> pattern <span style="color:#005cc5">="[0-9]&#123;3&#125;-[0-9]&#123;2&#125;-[0-9]&#123;3&#125;"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Time</h3>
        <p>The <code>&lt;input type="time"&gt;</code> allows the user to select a time (no time zone).</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="appt"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Select a time: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="time"</span> id <span style="color:#005cc5">="appt"</span> name <span style="color:#005cc5">="appt"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Url</h3>
        <p>The <code>&lt;input type="url"&gt;</code> is used for input fields that should contain a URL address.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="homepage"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Add your homepage: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="url"</span> id <span style="color:#005cc5">="homepage"</span> name <span style="color:#005cc5">="homepage"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Input Type Week</h3>
        <p>The <code>&lt;input type="week"&gt;</code> allows the user to select a week and year.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="week"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Select a week: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="week"</span> id <span style="color:#005cc5">="week"</span> name <span style="color:#005cc5">="week"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
</div>
