<div class="w-full py-10 md:px-5">
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
      <h3 class="titel font-medium">HTML - What is a Web API?</h3>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-medium">What is Web API?</h3>
      <p>An API (Application Programming Interface) is a set of defined rules and tools that enable different software programs to communicate with each other. It provides developers with access to specific functionalities or data from an application, operating system, or service, without needing to understand the internal workings of the system.  </p>
      <p>A <b>Web API</b> is a type of application programming interface that allows communication between systems over the internet using standard web protocols like HTTP.</p>
      <p>A <b>Web API</b> enables different applications or services to interact and exchange data through the web, typically using requests and responses over HTTP.</p>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-medium">HTML APIs</h3>
      <p>All browsers have a set of built-in Web APIs to support complex operations, and to help accessing data.</p>
      <p>Here are some of the main HTML5 APIs: </p>
      <ul class="space-y-1.5 list-decimal pl-5">
          <li>The <b>Web Storage API</b> provides a way for browsers to store key/value pairs locally, offering a simpler alternative to cookies.</li>
          <li>The <b>Drag and Drop</b> API allows developers to implement drag-and-drop functionality within web browsers.</li>
          <li>The <b>Web Workers API</b> enables JavaScript code to run in the background, allowing the main page to remain responsive to user interactions like clicking and selecting.</li>
          <li>The <b>Geolocation API</b> allows applications to retrieve the user’s current geographic location, typically in terms of latitude and longitude.</li>
          <li>The <b>Canvas API</b> allows developers to draw and manipulate graphics dynamically using JavaScript.</li>
          <li>The <b>Server-Sent Events (SSE)</b> API enables a web page to receive automatic updates from a server in real-time.</li>
      </ul>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-medium">Notes on Using HTML APIs</h3>
      <p>When implementing an HTML API, you should always:</p>
      <p>Always verify that the API is supported by the user’s browser before using it, and provide a fallback script or message if it’s not supported.</p>
      <p>Implement strong error handling to manage situations where an API may fail or behave unexpectedly, ensuring the user experience remains smooth.</p>
      <p>When working with APIs that access sensitive information—such as the user's location—always request the user's permission before proceeding.</p>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-medium">Third Party APIs</h3>
      <p>Third party APIs are not built into your browser.</p>
      <p>To use these APIs, you will have to download the code from the Web.</p>
      <p>Examples:</p>
      <ul class="space-y-1.5 list-disc pl-5">
          <li>The <b>YouTube API</b> enables you to embed and display YouTube videos directly on your website.</li>
          <li>The <b>Twitter API</b> enables you to embed and display Tweets directly on your website.</li>
          <li>The <b>Facebook API</b> makes it possible to embed Facebook-related content on your site, such as posts, comments, or feeds.</li>
      </ul>
  </div>
</div>