<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Input Attributes</h3>
        <p class="text16">This chapter describes the different attributes for the HTML <code>&lt;input&gt;</code> element.</p>
    </div>  
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The value Attribute</h3>
        <p>The input <code>&lt;value&gt;</code> attribute specifies an initial value for an input field:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> value <span style="color:#005cc5">="lisha"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span> value <span style="color:#005cc5">="alvora"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The readonly Attribute</h3>
        <p>The <code>disabled</code> attribute specifies that an input field is disabled, preventing user interaction and excluding it from form submission.</p>
        <p>A disabled input field cannot be modified or focused, and users cannot interact with it, copy text, or submit its value in a form.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> value <span style="color:#005cc5">="lisha"</span> readonly </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span> value <span style="color:#005cc5">="alvora"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The disabled Attribute</h3>
        <p>The <code>readonly</code> attribute specifies that an input field is read-only, allowing users to view but not modify its content.</p>
        <p>A <code>disabled</code> input field cannot be interacted with or clicked by the user.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> value <span style="color:#005cc5">="lisha"</span> disabled </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span> value <span style="color:#005cc5">="alvora"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The size Attribute</h3>
        <p>The &nbsp; <code>size</code> &nbsp; attribute specifies the maximum number of characters allowed in an input field.</p>
        <p>The default value for <code>size</code> is unlimited unless specified.</p>
        <p><b>Note:</b> The <code>size</code> attribute applies to the following input types: text, search, tel, url, email, and password.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> size <span style="color:#005cc5">="50"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="pin"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>PIN: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="pin"</span> name <span style="color:#005cc5">="pin"</span> size <span style="color:#005cc5">="4"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The maxlength Attribute</h3>
        <p>The <code>minlength</code> attribute specifies the minimum number of characters required in an input field.</p>
        <p><b>Note:</b> When a <code>minlength</code> is set, the input field requires at least the specified number of characters. However, this attribute does not enforce validation messages. To notify the user, you need to use JavaScript.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> size <span style="color:#005cc5">="50"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="pin"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>PIN: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="pin"</span> name <span style="color:#005cc5">="pin"</span> maxlength <span style="color:#005cc5">="4"</span> size <span style="color:#005cc5">="4"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The min and max Attributes</h3>
        <p>The input <code>min</code> and <code>max</code> attributes specify the minimum and maximum values for an input field.</p>
        <p>The <code>min</code> and <code>max</code> attributes work with the following input types: number, range, date, datetime-local, month, time and week.</p>
        <p><b>Tip:</b> Use the max and min attributes together to create a range of legal values.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="datemax"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter a date before 1980-01-01: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="date"</span> id <span style="color:#005cc5">="datemax"</span> name <span style="color:#005cc5">="datemax"</span> max <span style="color:#005cc5">="1979-12-31"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="datemin"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter a date after 2000-01-01: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="date"</span> id <span style="color:#005cc5">="datemin"</span> name <span style="color:#005cc5">="datemin"</span> min <span style="color:#005cc5">="2000-01-02"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="quantity"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Quantity (between 1 and 5): <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="number"</span> id <span style="color:#005cc5">="quantity"</span> name <span style="color:#005cc5">="quantity"</span> min <span style="color:#005cc5">="1"</span> max <span style="color:#005cc5">="5"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The multiple Attribute</h3>
        <p>The <code>multiple</code> attribute allows users to input multiple values in a single input field.</p>
        <p>The <code>multiple</code> attribute is supported by the <code>email</code> and <code>file</code> input types.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="files"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Select files: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="file"</span> id <span style="color:#005cc5">="files"</span> name <span style="color:#005cc5">="files"</span> multiple </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The pattern Attribute</h3>
        <p>The <code>pattern</code> attribute defines a regular expression that the input value must match before the form can be submitted.</p>
        <p>The <code>pattern</code> attribute is supported by the following input types: <code>text</code>, <code>search</code>, <code>url</code>, <code>tel</code>, <code>email</code>, <code>password</code>, and <code>date</code>.</p>
        <p><b>Tip:</b> Use the global title attribute to describe the pattern to help the user.</p>
        <p><b>Tip:</b> Learn more about regular expressions in our JavaScript tutorial.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="country_code"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Country code: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="country_code"</span> name <span style="color:#005cc5">="country_code"</span>
                        <br>&nbsp; pattern <span style="color:#005cc5">="[A-Za-z] &#123; 3 &#125; "</span> title <span style="color:#005cc5">="Three letter country code"</span>
                      </span>   
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The placeholder Attribute </h3>
        <p>The &nbsp; <code>placeholder</code> &nbsp; attribute provides a brief hint or example text to indicate the expected input format or value in a field.</p>
        <p>The  &nbsp; <code>placeholder</code> &nbsp; text appears inside the input field until the user enters a value.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="phone"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Enter a phone number: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="tel"</span> id <span style="color:#005cc5">="phone"</span> name <span style="color:#005cc5">="phone"</span>
                        <br>&nbsp; placeholder <span style="color:#005cc5">="123-45-678"</span>
                        <br>&nbsp; pattern <span style="color:#005cc5">="[0-9]&#123;3&#125;-[0-9]&#123;2&#125;-[0-9]&#123;3&#125;"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The required Attribute </h3>
        <p>The input <code>required</code> attribute specifies that an input field must be filled out before submitting the form.</p>
        <p>The <code>required</code> attribute works with the following input types: text, search, url, tel, email, password, date pickers, number, checkbox, radio, and file.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="username"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Username: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="username"</span> name <span style="color:#005cc5">="username"</span> required </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The step Attribute</h3>
        <p>The input <code>step</code> attribute specifies the legal number intervals for an input field.</p>
        <p>Example: if step="3", legal numbers could be -3, 0, 3, 6, etc.</p>
        <p><b>Tip:</b> This attribute can be used together with the max and min attributes to create a range of legal values.</p>
        <p>The <code>step</code> attribute works with the following input types: number, range, date, datetime-local, month, time and week.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="points"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Points: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="number"</span> id <span style="color:#005cc5">="points"</span> name <span style="color:#005cc5">="points"</span> step <span style="color:#005cc5">="3"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The autofocus Attribute</h3>
        <p>The input <code>autofocus</code> attribute specifies that an input field should automatically get focus when the page loads.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span> autofocus </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The height and width Attributes</h3>
        <p>The input <code>height</code> and <code>width</code> attributes specify the height and width of an <code>&lt;input type="image"&gt;</code> element.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="image"</span> src <span style="color:#005cc5">="img_submit.gif"</span> alt <span style="color:#005cc5">="Submit"</span> width <span style="color:#005cc5">="48"</span> height <span style="color:#005cc5">="48"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The list Attribute</h3>
        <p>The input <code>list</code> attribute refers to a &lt;datalist&gt; element that contains pre-defined options for an &lt;input&gt; element.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> list <span style="color:#005cc5">="browsers"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>datalist <span style="color:green"> id <span style="color:#005cc5">="browsers"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp;&nbsp;&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>option <span style="color:green"> value <span style="color:#005cc5">="Edge"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>option <span style="color:green"> value <span style="color:#005cc5">="Firefox"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>option <span style="color:green"> value <span style="color:#005cc5">="Chrome"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>option <span style="color:green"> value <span style="color:#005cc5">="Opera"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>option <span style="color:green"> value <span style="color:#005cc5">="Safari"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>/datalist <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The autocomplete Attribute</h3>
        <p>The input <code>autocomplete</code> attribute specifies whether a form or an input field should have autocomplete on or off.</p>
        <p>The <code>autocomplete</code> attribute works with &lt;form&gt; and the following &lt;input&gt; types: text, search, url, tel, email, password, datepickers, range, and color.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:green"> action <span style="color:#005cc5">="/action_page.php"</span> autocomplete <span style="color:#005cc5">="on"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>First name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="fname"</span> name <span style="color:#005cc5">="fname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Last name: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="text"</span> id <span style="color:#005cc5">="lname"</span> name <span style="color:#005cc5">="lname"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:green"> for <span style="color:#005cc5">="email"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>Email: <span style="color:#905">
                      <span style="color:#999">&lt;</span>/label <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="email"</span> id <span style="color:#005cc5">="email"</span> name <span style="color:#005cc5">="email"</span> autocomplete <span style="color:#005cc5">="off"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:green"> type <span style="color:#005cc5">="submit"</span> value <span style="color:#005cc5">="Submit"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/form <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
</div>
