<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
        <h3 class="titel font-medium">HTML Styles</h3>
        <p class="text16">The HTML <code> style </code> attribute is used to add styles to an element, such as color, font, size, and more.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <p style="font-size:20px;color:red;margin:12px 0;">I am Red</p>
                    <p style="font-size:20px;color:blue;margin:12px 0;">I am Blue</p>
                    <p style="font-size:36px;margin:12px 0;">I am Big</p>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML Style Attribute</h3>
        <p>Setting the style of an HTML element, can be done with the <code>style</code> attribute.</p>
        <p>The HTML <code>style </code> attribute has the following syntax:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>
                        <em>tagname</em>
                        <span style="color:green"> style <span style="color:#005cc5">=" <em>property</em>: <em>value;</em>" </span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
        <p>The <b>property</b> is a CSS property. The <b>value</b> is a CSS value.</p>
        <div class="p-3.5 bg-yellow-700/20">
            <p><b>Note:</b> You will learn more about CSS later in this tutorial.</p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Background Color</h3>
        <p>The CSS <code>background-color </code> property defines the background color for an HTML element.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Set the background color for a page to powderblue:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>body <span style="color:green"> style <span style="color:#005cc5">="background-color:powderblue;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Set background color for two different elements:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:powderblue;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="background-color:tomato;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Text Color</h3>
        <p>The <code>CSS</code> color property defines the text color for an HTML element:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Set background color for two different elements:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="color:blue;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="color:red;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Fonts</h3>
        <p>The CSS <code>font-family</code> property defines the font to be used for an HTML element:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Set background color for two different elements:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="font-family:verdana;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="font-family:courier;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Text Size</h3>
        <p>The CSS <code>font-size</code> property defines the text size for an HTML element:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Set background color for two different elements:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="font-size:300%;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="font-size:160%;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Text Alignment</h3>
        <p>The CSS <code>text-align</code> property defines the horizontal text alignment for an HTML element:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Set background color for two different elements:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="text-align:center;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>Centered Heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="text-align:center;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>Centered paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Chapter Summary</h3>
        <ul class="space-y-1.5 list-disc pl-5">
            <li>Use the <code>style</code> attribute for styling HTML elements</li>
            <li>Use <code>background-color</code> for background color</li>
            <li>Use <code>color</code> for text colors</li>
            <li>Use <code>font-family</code> for text fonts</li>
            <li>Use <code>font-size</code> for text sizes</li>
            <li>Use <code>text-align</code> for text alignment</li>
        </ul>
    </div>
</div>
