<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Block and Inline Elements</h3>
        <p class="text16">Every HTML element has a default display value, depending on what type of element it is.</p>
        <p>The two most common display values are block and inline.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Block-level Elements</h3>
        <p>A block-level element always starts on a new line, and the browsers automatically add some space (a margin) before and after the element.</p>
        <p>A block-level element always takes up the full width available (stretches out to the left and right as far as it can).</p>
        <p>Two commonly used block elements are: <code>&lt;p&gt;</code> and <code>&lt;div&gt;</code>.</p>
        <p>The <code>&lt;p&gt;</code> element defines a paragraph in an HTML document.</p>
        <p>The <code>&lt;div&gt;</code> element defines a division or a section in an HTML document.</p>
        <div>
            <p style="border-width:1px;border-style:solid;border-color: blueviolet; padding:5px;"> The &lt;p &gt; element is a block-level element.</p>
        </div>
        <div>
            <p style="border-width:1px;border-style:solid;border-color: blueviolet; padding:5px;"> The &lt;div &gt; element is a block-level element.</p>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>Hello World <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>div <span style="color:#999">&gt;</span>
                    </span>Hello World <span style="color:#905">
                      <span style="color:#999">&lt;</span>/div <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>Here are the block-level elements in HTML:</p>
        <div class="flex flex-wrap" style="line-height:25px;border-left:none;background-color: bisque;padding: 20px;">
            <div class="w-1/4">
                <div>
                  <a>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>address <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>article <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>aside <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>blockquote <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>canvas <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>dd <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>ul <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                  <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>video <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>div <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>dl <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>dt <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>fieldset <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>figcaption <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>figure <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>tfoot <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>footer <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>form <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>- <span style="color:#905">
                      <span style="color:#999">&lt;</span>h6 <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>header <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>hr <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>li <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>table <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>main <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>nav <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>noscript <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>ol <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>pre <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>section <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Inline Elements</h3>
        <p>An inline element does not start on a new line.</p>
        <p>An inline element occupies only the space required for its content.</p>
        <p>Inline elements take up only as much horizontal space as their content needs.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>span <span style="color:#999">&gt;</span>
                    </span>Hello World <span style="color:#905">
                      <span style="color:#999">&lt;</span>/span <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>Here are the inline elements in HTML:</p>
        <div class="flex flex-wrap" style="line-height:25px;border-left:none;background-color: bisque;padding: 20px;">
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>a <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>abbr <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>acronym <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>b <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>bdo <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>q <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>samp <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>sup <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>textarea <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>big <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>button <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>cite <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>code <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>script <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>select <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>time <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>tt <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>dfn <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>em <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>i <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>img <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>input <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>small <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>span <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>var <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
            <div class="w-1/4">
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>kbd <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>label <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>map <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>object <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                  <a href="">
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>output <span style="color:#999">&gt;</span>
                    </span>
                  </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>strong <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
                <div>
                    <a href="">
                      <span style="color:#905">
                        <span style="color:#999">&lt;</span>sub <span style="color:#999">&gt;</span>
                      </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-3.5 bg-yellow-700/20">
            <p><b>Note:</b>&nbsp; An inline element cannot contain a block-level element!</p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The <code>&lt;div&gt;</code> Element</h3>
        <p>The <code>&lt;div&gt;</code> tag is commonly used to group and organize other HTML elements within a container.</p>
        <p>The <code>&lt;div&gt;</code> element doesn’t require any attributes, but it's often used with style, class, or id for styling and layout purposes.</p>
        <p>The <code>&lt;div&gt;</code> element, when combined with CSS, allows you to apply styles to sections or blocks of content.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>div <span style="color:green"> style <span style="color:#005cc5">="background-color:black;color:white;padding:20px;"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>h2 <span style="color:#999">&gt;</span>
                    </span>London <span style="color:#905">
                      <span style="color:#999">&lt;</span>/h2 <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants. <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/div <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The <code>&lt;span&gt;</code> Element</h3>
        <p>The <code>&lt;span&gt;</code> element is an inline container used to wrap a portion of text or a specific part of a document for styling or scripting purposes.</p>
        <p>The <code>&lt;span&gt;</code> tag doesn’t have any mandatory attributes, but it's frequently used with style, class, or id to apply custom styles or target it with JavaScript.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>My mother has <span style="color:#905">
                      <span style="color:#999">&lt;</span>span <span style="color:green"> style <span style="color:#005cc5">="color:blue;font-weight:bold;"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>blue <span style="color:#905">
                      <span style="color:#999">&lt;</span>/span <span style="color:#999">&gt;</span>
                    </span> eyes and my father has <span style="color:#905">
                      <span style="color:#999">&lt;</span>span <span style="color:green"> style <span style="color:#005cc5">="color:darkolivegreen;font-weight:bold;"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>dark green <span style="color:#905">
                      <span style="color:#999">&lt;</span>/span <span style="color:#999">&gt;</span>
                    </span> eyes. <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Chapter Summary</h3>
        <ul class="space-y-1.5 list-disc pl-5">
          <li>A block-level element always starts on a new line and takes up the full width available</li>
          <li>An inline element does not start on a new line and it only takes up as much width as necessary</li>
          <li>The <code>&lt;div&gt;</code> element is a block-level element and is often used as a container for other HTML elements/li>
          <li>The <code>&lt;span&gt;</code> element is an inline container used to mark up a part of a text, or a part of a document</li>
        </ul>               
    </div>
</div>
