<div class="w-full py-10 min-h-[calc(100vh-132px)]">
  <div class="wrapper">
    <div class="space-y-1.5 text-center max-w-screen-lg mx-auto">
      <h2>Contact Us</h2>
      <p class="opacity-80">We’d love to hear from you! <br>
        Whether you have a question, feedback, or need support — feel free to reach out.</p>
    </div>
    <div class="space-y-2.5 mt-12">
      <h4>General Inquiries</h4>
      <ul class="text16 text-dark list-disc pl-5">
        <li>For any general questions or information about our courses and services:</li>
        <li><b>Email:</b> <a href="" class="text-blue-500 pl-2">info{{'@itschool4u'}}.com</a></li>
      </ul>
    </div>
    <div class="space-y-2.5 mt-6 2xl:mt-8">
      <h4>Technical Support</h4>
      <ul class="text16 text-dark list-disc pl-5">
        <li>Having trouble with the website or any course? We're here to help.</li>
        <li><b>Website:</b> <a href="" class="text-blue-500 pl-2">support{{'@itschool4u'}}.com</a></li>
      </ul>
    </div>
  </div>
</div>  