<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Symbols</h3>
        <p class="text16">Symbols or letters that are not present on your keyboard can be added to HTML using entities.</p>
        <ul class="space-y-1.5 list-disc pl-10">
            <li>&lt; (less than) = <b>&amp;lt;</b></li> 
            <li>&gt; (greater than) = <b>&amp;gt;</b></li>
        </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">HTML Symbol Entities</h3>
        <p>HTML entities were described in the previous chapter.</p>
        <p>Many mathematical, technical, and currency symbols, are not present on a normal keyboard.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>I will display &amp;euro; <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>I will display &amp;#8364; <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>I will display &amp;#x20AC; <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <h3>Example</h3>
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div> I will display € <br> I will display € <br> I will display € </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Some Mathematical Symbols Supported by HTML</h3>
        <table class="ws-table-all notranslate">
            <tbody>
              <tr>
                <th>Char</th>
                <th>Number</th>
                <th>Entity</th>
                <th>Description</th>
                <th></th>
              </tr>
              <tr>
                <td>∀</td>
                <td>&amp;#8704;</td>
                <td>&amp;forall;</td>
                <td>For all</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∂</td>
                <td>&amp;#8706;</td>
                <td>&amp;part;</td>
                <td>Partial differential</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∃</td>
                <td>&amp;#8707;</td>
                <td>&amp;exist;</td>
                <td>There exists</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∅</td>
                <td>&amp;#8709;</td>
                <td>&amp;empty;</td>
                <td>Empty sets</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∇</td>
                <td>&amp;#8711;</td>
                <td>&amp;nabla;</td>
                <td>Nabla</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∈</td>
                <td>&amp;#8712;</td>
                <td>&amp;isin;</td>
                <td>Element of</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∉</td>
                <td>&amp;#8713;</td>
                <td>&amp;notin;</td>
                <td>Not an element of</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∋</td>
                <td>&amp;#8715;</td>
                <td>&amp;ni;</td>
                <td>Contains as member</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∏</td>
                <td>&amp;#8719;</td>
                <td>&amp;prod;</td>
                <td>N-ary product</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>∑</td>
                <td>&amp;#8721;</td>
                <td>&amp;sum;</td>
                <td>N-ary summation</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Some Greek Letters Supported by HTML</h3>
        <table class="ws-table-all notranslate">
            <tbody>
              <tr>
                <th>Char</th>
                <th>Number</th>
                <th>Entity</th>
                <th>Description</th>
                <th></th>
              </tr>
              <tr>
                <td>Α</td>
                <td>&amp;#913;</td>
                <td>&amp;Alpha;</td>
                <td>GREEK ALPHA</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>Β</td>
                <td>&amp;#914;</td>
                <td>&amp;Beta;</td>
                <td>GREEK BETA</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>Γ</td>
                <td>&amp;#915;</td>
                <td>&amp;Gamma;</td>
                <td>GREEK GAMMA</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>Δ</td>
                <td>&amp;#916;</td>
                <td>&amp;Delta;</td>
                <td>GREEK DELTA</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>Ε</td>
                <td>&amp;#917;</td>
                <td>&amp;Epsilon;</td>
                <td>GREEK EPSILON</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>Ζ</td>
                <td>&amp;#918;</td>
                <td>&amp;Zeta;</td>
                <td>GREEK ZETA</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Some Other Entities Supported by HTML</h3>
        <table class="ws-table-all notranslate">
            <tbody>
              <tr>
                <th>Char</th>
                <th>Number</th>
                <th>Entity</th>
                <th>Description</th>
                <th></th>
              </tr>
              <tr>
                <td>©</td>
                <td>&amp;#169;</td>
                <td>&amp;copy;</td>
                <td>COPYRIGHT</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>®</td>
                <td>&amp;#174;</td>
                <td>&amp;reg;</td>
                <td>REGISTERED TRADEMARK</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>€</td>
                <td>&amp;#8364;</td>
                <td>&amp;euro;</td>
                <td>EURO SIGN</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>™</td>
                <td>&amp;#8482;</td>
                <td>&amp;trade;</td>
                <td>TRADEMARK</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>←</td>
                <td>&amp;#8592;</td>
                <td>&amp;larr;</td>
                <td>LEFT ARROW</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>↑</td>
                <td>&amp;#8593;</td>
                <td>&amp;uarr;</td>
                <td>UP ARROW</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>→</td>
                <td>&amp;#8594;</td>
                <td>&amp;rarr;</td>
                <td>RIGHT ARROW</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>↓</td>
                <td>&amp;#8595;</td>
                <td>&amp;darr;</td>
                <td>DOWN ARROW</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>♠</td>
                <td>&amp;#9824;</td>
                <td>&amp;spades;</td>
                <td>SPADE</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>♣</td>
                <td>&amp;#9827;</td>
                <td>&amp;clubs;</td>
                <td>CLUB</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>♥</td>
                <td>&amp;#9829;</td>
                <td>&amp;hearts;</td>
                <td>HEART</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>♦</td>
                <td>&amp;#9830;</td>
                <td>&amp;diams;</td>
                <td>&nbsp;DIAMOND</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
