<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Tables</h3>
        <p class="text16">CSS stands for Cascading Style Sheets.</p>
        <p>HTML tables allow web developers to arrange data into rows and columns.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Shades of Gray</h3>
        <p>Shades of gray are often defined using equal values for all three parameters:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
          <h3>Example</h3>
          <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div class="bg-white">
                <table class="w-full">
                  <tbody>
                  <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                  </tr>
                  <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                  </tr>
                  <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                  </tr>
                  <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                  </tr>
                  <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                  </tr>
                  <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
          <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Define an HTML Table</h3>
        <p>A table in HTML consists of table cells inside rows and columns.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
          <h3>Example</h3>
          <p class="text16">A simple HTML table:</p>
          <div class="p-6 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905">
                  <span>&lt;</span>table <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>tr <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>th <span style="color:#999">&gt;</span>
                </span>Company <span style="color:#905">
                  <span style="color:#999">&lt;</span>/th <span style="color:#999">&gt;</span>
                </span>
                <br> &nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>th <span style="color:#999">&gt;</span>
                </span>Contact <span style="color:#905">
                  <span style="color:#999">&lt;</span>/th <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>th <span style="color:#999">&gt;</span>
                </span>Country <span style="color:#905">
                  <span style="color:#999">&lt;</span>/th <span style="color:#999">&gt;</span>
                </span>
                <br> &nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>/tr <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>tr <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp; &nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                </span>Alfreds Futterkiste <span style="color:#905">
                  <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                </span>
                <br> &nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                </span>Maria Anders <span style="color:#905">
                  <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                </span>Germany <span style="color:#905">
                  <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                </span>
                <br> &nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>/tr <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>tr <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                </span>Centro comercial Moctezuma <span style="color:#905">
                  <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                </span>
                <br> &nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                </span>Francisco Chang <span style="color:#905">
                  <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                </span>
                <br>&nbsp;&nbsp;&nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                </span>Mexico <span style="color:#905">
                  <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                </span>
                <br> &nbsp; <span style="color:#905">
                  <span style="color:#999">&lt;</span>/tr <span style="color:#999">&gt;</span>
                </span>
                <br>
                <span style="color:#905">
                  <span style="color:#999">&lt;</span>/table <span style="color:#999">&gt;</span>
                </span>
            </div>
          </div>
          <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Table Cells</h3>
        <p class="text16">Each table cell is defined by a <code>&lt;</code><span style="color: #905;">td</span><code>&gt;</code> and a <code>&lt;</code><span style="color: #905;">/td</span><code>&gt;</code> tag.</p>
        <div class="p-3.5 bg-yellow-700/20">
            <p>
                <b>Note:</b> &nbsp; <code>&lt;td&gt;</code> stands for table data. 
            </p>
        </div>
        <p class="text16">Everything between &nbsp; <code>&lt;td&gt;</code> and &nbsp; <code>&lt;/td&gt;</code> is the content of a table cell.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                    <span style="color:#999">&lt;</span>table <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; <span style="color:#905">
                    <span style="color:#999">&lt;</span>tr <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; &nbsp; <span style="color:#905">
                    <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                    </span>Emil <span style="color:#905">
                    <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp;&nbsp;&nbsp; <span style="color:#905">
                    <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                    </span>Tobias <span style="color:#905">
                    <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp;&nbsp;&nbsp; <span style="color:#905">
                    <span style="color:#999">&lt;</span>td <span style="color:#999">&gt;</span>
                    </span>Linus <span style="color:#905">
                    <span style="color:#999">&lt;</span>/td <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                    <span style="color:#999">&lt;</span>/tr <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                    <span style="color:#999">&lt;</span>/table <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <div class="p-3.5 bg-yellow-700/20">
            <p>
                <b>Note:</b> A table cell can contain all sorts of HTML elements: text, images, lists, links, other tables, etc
            </p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Table Cells</h3>
        <p class="text16">Each table cell is defined by a <code>&lt;</code><span style="color: #905;">tr</span><code>&gt;</code> and ends with a <code>&lt;</code><span style="color: #905;">/tr</span><code>&gt;</code> tag.</p>
        <div class="p-3.5 bg-yellow-700/20">
            <p>
                <b>Note:</b> &nbsp; <code>&lt;tr&gt;</code> stands for table data. 
            </p>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"><span style="color:#999">&lt;</span>table<span style="color:#999">&gt;</span></span><br>&nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>tr<span style="color:#999">&gt;</span></span><br>&nbsp; &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>Emil<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>Tobias<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>Linus<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>/tr<span style="color:#999">&gt;</span></span><br>&nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>tr<span style="color:#999">&gt;</span></span><br>&nbsp; &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>16<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>14<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>10<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>/tr<span style="color:#999">&gt;</span></span><br><span style="color:#905"><span style="color:#999">&lt;</span>/table<span style="color:#999">&gt;</span></span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p class="text16">You can have as many rows as you like in a table; just make sure that the number of cells are the same in each row.</p>
        <div class="p-3.5 bg-yellow-700/20">
            <p>
                <b>Note:</b> There are times when a row can have less or more cells than another. You will learn about that in a later chapter.
            </p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Table Headers</h3>
        <p class="text16">Sometimes you want your cells to be table header cells. In those cases use the <th> tag instead of the <td> tag:</p>
        <div class="p-3.5 bg-yellow-700/20">
            <p>
                <b>Note:</b> &nbsp; <code>&lt;th&gt;</code> stands for table header. 
            </p>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p class="text16">Let the first row be table header cells:</p>
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"><span style="color:#999">&lt;</span>table<span style="color:#999">&gt;</span></span><br>&nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>tr<span style="color:#999">&gt;</span></span><br>&nbsp; &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>th<span style="color:#999">&gt;</span></span>Person 1<span style="color:#905"><span style="color:#999">&lt;</span>/th<span style="color:#999">&gt;</span></span><br>
                    &nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>th<span style="color:#999">&gt;</span></span>Person 2<span style="color:#905"><span style="color:#999">&lt;</span>/th<span style="color:#999">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>th<span style="color:#999">&gt;</span></span>Person 
                      3<span style="color:#905"><span style="color:#999">&lt;</span>/th<span style="color:#999">&gt;</span></span><br>
                    &nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>/tr<span style="color:#999">&gt;</span></span><br>&nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>tr<span style="color:#999">&gt;</span></span><br>&nbsp; &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>Emil<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>Tobias<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>Linus<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>/tr<span style="color:#999">&gt;</span></span><br>&nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>tr<span style="color:#999">&gt;</span></span><br>&nbsp; &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>16<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>14<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span> <br>&nbsp;&nbsp;&nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>td<span style="color:#999">&gt;</span></span>10<span style="color:#905"><span style="color:#999">&lt;</span>/td<span style="color:#999">&gt;</span></span><br>
                    &nbsp;
                    <span style="color:#905"><span style="color:#999">&lt;</span>/tr<span style="color:#999">&gt;</span></span><br><span style="color:#905"><span style="color:#999">&lt;</span>/table<span style="color:#999">&gt;</span></span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p class="text16">By default, the text in &nbsp; <code>&lt;th&gt;</code> elements are bold and centered, but you can change that with CSS.</p>
    </div>
</div>

<!-- git config --global user.email "you@example.com"
git config --global user.name "Your Name" -->