<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
        <h3 class="titel font-medium">HTML Paragraphs</h3>
        <p class="text16">A paragraph always starts on a new line, and is usually a block of text.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML Paragraphs</h3>
        <p>The HTML<code>&lt;p&gt;</code> element defines a paragraph.</p>
        <p class="text-16">A paragraph always starts on a new line, and browsers automatically add Dammy white space (a margin) before and after a paragraph.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
          <h3>Example</h3>
          <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
            <div>
                <span style="color:#905"><span style="color:#999">&lt;</span>p<span style="color:#999">&gt;</span></span>This is a paragraph.<span style="color:#905"><span style="color:#999">&lt;</span>/p<span style="color:#999">&gt;</span></span><br>
                <span style="color:#905"><span style="color:#999">&lt;</span>p<span style="color:#999">&gt;</span></span>This is another paragraph.<span style="color:#905"><span style="color:#999">&lt;</span>/p<span style="color:#999">&gt;</span></span>
            </div>
          </div>
          <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML Display</h3>
        <p>You cannot be sure how HTML will be displayed.</p>
        <p>Large or small screens, and resized windows will create different results.</p>
        <p>With HTML, you cannot change the display by adding extra spaces or extra lines in your HTML code.</p>
        <p>The browser will automatically remove any extra spaces and lines when the page is displayed:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>
                    <br>This paragraph <br>is simply dummy text <br>of the printing and <br>ypesetting industry <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>
                    <br>This paragraph <br>industry's standard dummy <br>text ever since the 1500s, when an unknown <br>printer took a galley of type and scrambled it to make a type specimen book <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML Horizontal Rules</h3>
        <p>The <code>&lt;hr&gt;</code> tag defines a thematic break in an HTML page, and is most often displayed as a horizontal rule.</p>
        <p>The <code>&lt;hr&gt;</code> element is used to separate content (or define a change) in an HTML page:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>This is heading 1 <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is Dammy text. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>hr <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h2 <span style="color:#999">&gt;</span>
                    </span>This is heading 2 <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h2 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is Dammy other text. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>hr <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>The <code>&lt;hr&gt;</code> tag is an empty tag, which means that it has no end tag.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML Line Breaks</h3>
        <p>The HTML <code>&lt;br&gt;</code> element defines a line break.</p>
        <p>Use <code>&lt;br&gt;</code> if you want a line break (a new line) without starting a new paragraph:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is <span style="color:#905">
                        <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>a paragraph <span style="color:#905">
                        <span style="color:#999">&lt;</span>br <span style="color:#999">&gt;</span>
                    </span>with line breaks. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>The <code>&lt;br&gt;</code> tag is an empty tag, which means that it has no end tag.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The Poem Problem</h3>
        <p>This poem will display on a single line:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; My Bonnie lies over the ocean. <br>
                    <br>&nbsp; My Bonnie lies over the sea. <br>
                    <br>&nbsp; My Bonnie lies over the ocean. <br>
                    <br>&nbsp; Oh, bring back my Bonnie to me. <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Solution - The HTML <code>&lt;pre&gt;</code> Element</h3>
        <p>The HTML <code>&lt;pre&gt;</code> element defines preformatted text.</p>
        <p>The text inside a <code>&lt;pre&gt;</code> element is displayed in a fixed-width font (usually Courier), and it preserves both spaces and line breaks:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>pre <span style="color:#999">&gt;</span>
                    </span>
                    <br>&nbsp; My Bonnie lies over the ocean. <br>
                    <br>&nbsp; My Bonnie lies over the sea. <br>
                    <br>&nbsp; My Bonnie lies over the ocean. <br>
                    <br>&nbsp; Oh, bring back my Bonnie to me. <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/pre <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
</div>
