<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Styles - CSS</h3>
        <p class="text16">CSS stands for Cascading Style Sheets.</p>
        <p>CSS saves a lot of work. It can control the layout of multiple web pages all at once.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">What is CSS?</h3>
        <p>Cascading Style Sheets (CSS) is used to format the layout of a webpage.</p>
        <p>With CSS, you can control the color, font, the size of text, the spacing between elements, how elements are positioned and laid out, what background images or background colors are to be used, different displays for different devices and screen sizes, and much more!   </p>
        <div class="p-3.5 bg-yellow-700/20">
            <p>
                <b>Tip:</b> The word cascading means that a style applied to a parent element will also apply to all children elements within the parent. So, if you set the color of the body text to "blue", all headings, paragraphs, and other text elements within the body will also get the same color (unless you specify something else)!
            </p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Using CSS</h3>
        <p>CSS can be added to HTML documents in 3 ways:</p>
        <ul class="space-y-1.5 list-disc pl-5">
            <li><b>Inline</b> - by using the <code>style</code> attribute inside HTML elements</li>
            <li><b>Internal </b> - by using a <code>&lt;style&gt;</code> element in the <code>&lt;head&gt;</code> section</li>
            <li><b>External</b> - by using a <code>&lt;link&gt;</code> element to link to an external CSS file</li>
        </ul>
        <p>The most common way to add CSS, is to keep the styles in external CSS files. However, in this tutorial we will use inline and internal styles, because this is easier to demonstrate, and easier for you to try it yourself.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Inline CSS</h3>
        <p>An inline CSS is used to apply a unique style to a single HTML element.</p>
        <p>An inline CSS uses the style attribute of an HTML element.</p>
        <p>The following example sets the text color of the <code>&lt;h1&gt;</code> element to blue, and the text color of the <code>&lt;p&gt;</code> element to red:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="color:blue;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>A Blue Heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="color:red;"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>A red paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Internal CSS</h3>
        <p>An internal CSS is used to define a style for a single HTML page.</p>
        <p>An internal CSS is defined in the <code>&lt;head&gt;</code> section of an HTML page, within a <code>&lt;style&gt;</code> element.</p>
        <p>The following example sets the text color of ALL the <code>&lt;h1&gt;</code> elements (on that page) to blue, and the text color of ALL the <code>&lt;p&gt;</code> elements to red. In addition, the page will be displayed with a "powderblue" background color: </p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>style <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                        <br> body <span style="color:#999">&#123;</span>
                        <span style="color:#d73a49">background-color <span style="color:#005cc5">
                                <span style="color:#999">:</span> powderblue <span style="color:#999">;</span>
                            </span>
                        </span>
                        <span style="color:#999">&#125;</span>
                        <br>h1&nbsp;&nbsp; <span style="color:#999">&#123;</span>
                        <span style="color:#d73a49">color <span style="color:#005cc5">
                                <span style="color:#999">:</span> blue <span style="color:#999">;</span>
                            </span>
                        </span>
                        <span style="color:#999">&#125;</span>
                        <br>p&nbsp;&nbsp;&nbsp; <span style="color:#999">&#123;</span>
                        <span style="color:#d73a49">color <span style="color:#005cc5">
                                <span style="color:#999">:</span> red <span style="color:#999">;</span>
                            </span>
                        </span>
                        <span style="color:#999">&#125;</span>
                        <br>
                    </span>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/style <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                        <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">External CSS</h3>
        <p>An external style sheet is used to define the style for many HTML pages.</p>
        <p>To use an external style sheet, add a link to it in the <code>&lt;head&gt;</code> section of each HTML page:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>head <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>link <span style="color:green"> rel <span style="color:#005cc5">="stylesheet"</span> href <span style="color:#005cc5">="styles.css"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                      <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>The external style sheet can be written in any text editor. The file must not contain any HTML code, and must be saved with a .css extension.</p>
        <p>Here is what the "styles.css" file looks like:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>"styles.css":</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"> body <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br>&nbsp;&nbsp;background-color <span style="color:#005cc5">
                          <span style="color:#999">:</span> powderblue <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>h1 <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br>&nbsp; color <span style="color:#005cc5">
                          <span style="color:#999">:</span> blue <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>p <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br>&nbsp;&nbsp;color <span style="color:#005cc5">
                          <span style="color:#999">:</span> red <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <div class="p-3.5 bg-yellow-700/20">
            <p><b>Tip:</b> With an external style sheet, you can change the look of an entire web site, by changing one file!</p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">CSS Colors, Fonts and Sizes</h3>
        <p>Here, we will demonstrate some commonly used CSS properties. You will learn more about them later.</p>
        <p>The CSS <code>color</code> property defines the text color to be used.</p>
        <p>The CSS <code>font-family</code> property defines the font to be used.</p>
        <p>The CSS <code>font-size</code> property defines the text size to be used.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Use of CSS color, font-family and font-size properties:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>style <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <br>h1 <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br>&nbsp;&nbsp;color <span style="color:#005cc5">
                          <span style="color:#999">:</span> blue <span style="color:#999">;</span>
                        </span>
                        <br>&nbsp;&nbsp;font-family <span style="color:#005cc5">
                          <span style="color:#999">:</span> verdana <span style="color:#999">;</span>
                        </span>
                        <br>&nbsp;&nbsp;font-size <span style="color:#005cc5">
                          <span style="color:#999">:</span> 300% <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>p&nbsp; <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br> &nbsp; color <span style="color:#005cc5">
                          <span style="color:#999">:</span> red <span style="color:#999">;</span>
                        </span>
                        <br>&nbsp; font-family <span style="color:#005cc5">
                          <span style="color:#999">:</span> courier <span style="color:#999">;</span>
                        </span>
                        <br>&nbsp; font-size <span style="color:#005cc5">
                          <span style="color:#999">:</span> 160% <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/style <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>This is a heading <span style="color:#905">
                      <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is a paragraph. <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">CSS Border</h3>
        <p>The CSS <code>border</code> property defines a border around an HTML element.</p>
        <p><b>Tip:</b> You can define a border for nearly all HTML elements.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Use of CSS border property:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"> p <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br>&nbsp;&nbsp;border <span style="color:#005cc5">
                          <span style="color:#999">:</span> 2px solid powderblue <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">CSS Padding</h3>
        <p>The CSS <code>padding</code> property defines a padding (space) between the text and the border.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Use of CSS border and padding properties:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"> p <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">
                        <br>&nbsp; border <span style="color:#005cc5">
                          <span style="color:#999">:</span> 2px solid powderblue <span style="color:#999">;</span>
                        </span>
                        <br>&nbsp; padding <span style="color:#005cc5">
                          <span style="color:#999">:</span> 30px <span style="color:#999">;</span>
                        </span>
                        <br>
                      </span>
                      <span style="color:#999">&#125;</span>
                    </span>
                  </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">CSS Margin</h3>
        <p>The CSS <code>margin</code> property defines a margin (space) outside the border.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Use of CSS border and margin properties:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905"> p <span style="color:#999">&#123;</span>
                        <span style="color:#d73a49">
                            <br>&nbsp; border <span style="color:#005cc5">
                                <span style="color:#999">:</span> 2px solid powderblue <span style="color:#999">;</span>
                            </span>
                            <br>&nbsp;&nbsp;margin <span style="color:#005cc5">
                                <span style="color:#999">:</span> 50px <span style="color:#999">;</span>
                            </span>
                            <br>
                        </span>
                        <span style="color:#999">&#125;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Link to External CSS</h3>
        <p>External style sheets can be referenced with a full URL or with a path relative to the current web page.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>Use of CSS border and margin properties:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>link <span style="color:green"> rel <span style="color:#005cc5">="stylesheet"</span> href <span style="color:#005cc5">="https://www.google.com/html/styles.css"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>This example links to a style sheet located in the html folder on the current web site: </p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>link <span style="color:green"> rel <span style="color:#005cc5">="stylesheet"</span> href <span style="color:#005cc5">="/html/styles.css"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <p>This example links to a style sheet located in the same folder as the current page:</p>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>link <span style="color:green"> rel <span style="color:#005cc5">="stylesheet"</span> href <span style="color:#005cc5">="styles.css"</span>
                        </span>
                        <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Chapter Summary</h3>
        <ul class="space-y-1.5 list-disc pl-5">
            <li>Use the HTML <code>style</code> attribute for inline styling</li>
            <li>Use the HTML <code>&lt;style&gt;</code> element to define internal CSS</li>
            <li>Use the HTML <code>&lt;link&gt;</code> element to refer to an external CSS file</li>
            <li>Use the HTML <code>&lt;head&gt;</code> element to store <code>&lt;style&gt;</code> and <code>&lt;link&gt;</code> elements</li>
            <li>Use the CSS <code>color</code> property for text colors</li>
            <li>Use the CSS <code>font-family</code> property for text fonts</li>
            <li>Use the CSS <code>font-size</code> property for text sizes</li>
            <li>Use the CSS <code>border</code> property for borders</li>
            <li>Use the CSS <code>padding</code> property for space inside the border</li>
            <li>Use the CSS <code>margin</code> property for space outside the border</li>
        </ul>
    </div>
</div>