<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML JavaScript</h3>
        <p class="text16">JavaScript makes HTML pages more dynamic and interactive.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <h2 class="mb-3">My First JavaScript</h2>
                    <button type="button" class="py-2.5 px-5 bg-yellow-500/20 rounded-lg" onclick="document.getElementById('demo').innerHTML=Date()"> Click me to display Date and Time</button>
                    <p id="demo"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;script&gt;</code> Tag</h3>
        <p>The HTML <code>&lt;script&gt;</code> tag is used to embed or reference client-side JavaScript code within a webpage.</p>
        <p>The <code>&lt;script&gt;</code> tag can include JavaScript code directly or link to an external file using the src attribute.</p>
        <p>JavaScript is commonly used for tasks like image handling, validating form inputs, and updating content dynamically on a webpage.</p>
        <p>JavaScript commonly selects HTML elements using the <code>document.getElementById()</code> method.</p>
        <p>This JavaScript example inserts the text "Hello JavaScript!" into the HTML element that has the id set to <code>"demo"</code>.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>script <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:black">
                      <br>
                      <span style="color:#905"></span> document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">innerHTML</span> = <span style="color:green">"Hello JavaScript!"</span>; <br>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/script <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">A Taste of JavaScript</h3>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:black">
                      <span style="color:#905"></span> document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">innerHTML</span> = <span style="color:green">"Hello JavaScript!"</span>; <span style="color:#905"></span>
                    </span>
                  </div>
            </div>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:black"> document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">style</span>. <span style="color:black">fontSize</span> = <span style="color:green">"25px"</span>; <br>document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">style</span>. <span style="color:black">color</span> = <span style="color:green">"red"</span>; <br>document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">style</span>. <span style="color:black">backgroundColor</span> = <span style="color:green">"yellow"</span>; </span>
                </div>
            </div>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div class="w3-code notranslate jsHigh">
                    <span style="color:black">
                      <span style="color:#905"></span> document. <span style="color:black">getElementById</span>( <span style="color:green">"image"</span>). <span style="color:black">src</span> = <span style="color:green">"picture.gif"</span>; <span style="color:#905"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;noscript&gt;</code> Tag</h3>
        <p>The HTML <code>&lt;noscript&gt;</code> tag provides fallback content for users whose browsers either don’t support JavaScript or have it disabled.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>script <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:black">
                      <br>
                      <span style="color:#905"></span> document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">innerHTML</span> = <span style="color:green">"Hello JavaScript!"</span>; <br>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/script <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>noscript <span style="color:#999">&gt;</span>
                    </span>Sorry, your browser does not support JavaScript! <span style="color:#905">
                      <span style="color:#999">&lt;</span>/noscript <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
