<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML Plug-ins</h3>
        <p class="text16">Plug-ins are computer programs that extend the standard functionality of the browser.</p>
    </div> 
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Plug-ins</h3>
        <p>Plug-ins were designed to be used for many different purposes:</p>
        <ul class="space-y-1.5 list-disc pl-10">
            <li>To run Java applets</li>
            <li>To run Microsoft ActiveX controls</li>
            <li>To display Flash movies</li>
            <li>To display maps</li>
            <li>To scan for viruses</li>
            <li>To verify a bank id</li>
        </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The &lt;object&gt; Element</h3>
        <p>The &lt;object&gt; element is supported by all browsers.</p>
        <p>The &lt;object&gt; element defines an embedded object within an HTML document.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>object <span style="color:green"> width <span tyle="color:#005cc5">="100%"</span> height <span style="color:#005cc5">="500px"</span> data <span style="color:#005cc5">="snippet.html"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/object <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>Or images if you like:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>object <span style="color:green"> data <span style="color:#005cc5">="flower.jpeg"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/object <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The &lt;embed&gt; Element</h3>
        <p>The &nbsp; <code>&lt;embed&gt;</code> &nbsp; element is supported in all major browsers.</p>
        <p>The &nbsp; <code> &lt;embed&gt;</code> &nbsp; element also defines an embedded object within an HTML document.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>embed <span style="color:green"> src <span style="color:#005cc5">="flower.jpeg"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>The &nbsp; <code>&lt;embed&gt;</code> &nbsp; element can also be used to include HTML in HTML:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>embed <span style="color:green"> width <span style="color:#005cc5">="100%"</span> height <span style="color:#005cc5">="500px"</span> src <span style="color:#005cc5">="snippet.html"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
</div>
