<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
      <h3 class="titel font-medium">HTML Tutorial</h3>
      <div class="space-y-3 p-6 bg-yellow-600/20">
        <h4>Learn HTML</h4>
        <div class="space-y-1.5">
          <p class="text16">HTML is the foundation of all web pages.</p>
          <p class="text16">With HTML, you can design and build your own website.</p>
          <p class="text16">It's simple to learn and fun to use - get started today! 🚀</p>
        </div>
        <a href="" class="btn_primary">Get Started HTML</a>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML Quiz Test</h3>
      <p class="text16">Test your HTML skills with our HTML Quiz!</p>
      <a href="" class="btn_primary">Start HTML Quiz!</a>  
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">My Learning</h3>
      <div class="space-y-1.5">
        <p class="text16">Keep track of your progress with the free "My Learning" program at IT School.</p>
        <p class="text16">Log in to your account to start earning points and track your achievements!</p>
        <p class="text16">This feature is optional—you can still learn freely without it.</p>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML References</h3>
      <p class="text16">IT School offers comprehensive references on HTML elements, attributes, events, color names, entities, character sets, URL encoding, language codes, HTTP messages, browser support, and much more!</p>
      <div class="flex flex-wrap -mx-2.5">
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">HTML Elements</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Browser Support</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Attributes</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Global Attributes</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Event Attributes</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Color Names</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Canvas</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Audio/Video DOM</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Character Sets</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">URL Encoding</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Language Codes</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Country Codes</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">HTTP Messages</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Px to Em Converter</span>
          </div>
        </div>
        <div class="w-1/2 sm:w-1/3 p-2.5">
          <div class="p-5 py-2 bg-yellow-600/20 text-center rounded-full">
            <span class="text16 block">Keyboard Shortcuts</span>
          </div>
        </div>
      </div>
    </div>
</div>
