<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
      <h3 class="titel font-medium">HTML Basic Examples</h3>
      <p class="text16">In this chapter, we will demonstrate some fundamental <b>HTML examples</b>.</p>
      <p class="text16">Don't worry if you come across tags you haven't learned yet—we will cover them later!</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML Documents</h3>
      <ul class="space-y-1.5 list-disc pl-5">
        <li class="text16">Every HTML document must begin with a <b>document type declaration:</b></li>
        <li class="text16">The HTML document starts with 
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
          </span>
          and ends with  
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
          </span>.
        </li>
        <li class="text16">The <b>visible content</b> of the webpage is placed between
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
          </span>
          and 
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
          </span>.
        </li>
      </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML Documents</h3>
      <div class="p-6 bg-yellow-600/20">
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
          <div >
            <span  style="color:slategray">&lt;!DOCTYPE html&gt;</span><br><span style="color:#905"><span style="color:#999">&lt;</span>html<span style="color:#999">&gt;</span></span><br><span style="color:#905"><span style="color:#999">&lt;</span>body<span style="color:#999">&gt;</span></span><br><br><span style="color:#905"><span style="color:#999">&lt;</span>h1<span style="color:#999">&gt;</span></span>My First Heading<span style="color:#905"><span style="color:#999">&lt;</span>/h1<span style="color:#999">&gt;</span></span><br><br>
            <span style="color:#905"><span style="color:#999">&lt;</span>p<span style="color:#999">&gt;</span></span>My first paragraph.<span style="color:#905"><span style="color:#999">&lt;</span>/p<span style="color:#999">&gt;</span></span><br><br><span style="color:#905"><span style="color:#999">&lt;</span>/body<span style="color:#999">&gt;</span></span><br><span style="color:#905"><span style="color:#999">&lt;</span>/html<span style="color:#999">&gt;</span></span> </div>
        </div>
      </div>
      <a href="" class="btn_primary">Try Now</a>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">The &lt;!DOCTYPE&gt; Declaration</h3>
      <p class="text16">The&nbsp;
        <span class="bg-gray-200" style="color:#905">
          <span style="color:#999"> &lt;</span>!DOCTYPE<span style="color:#999">&gt; </span>
        </span>&nbsp;
        declaration defines the <b>document type</b> and ensures that browsers render web pages correctly.</p>
      <ul class="space-y-1.5 list-disc pl-5">
        <li class="text16">It must appear <b>once</b> at the top of the page, <b>before any HTML tags</b>.</li>
        <li class="text16">It is <b>not case-sensitive</b>.</li>
        <li class="text16">The&nbsp;
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999"> &lt;</span>!DOCTYPE<span style="color:#999">&gt; </span>
          </span>&nbsp;
          declaration for <b>HTML5</b> is:
        </li>
      </ul>
      <div class="p-6 bg-yellow-600/20">
        <div class="p-6 py-2.5 border-l-2 border-yellow-600 bg-white">
          <div >
            <span  style="color:slategray">&lt;!DOCTYPE html&gt;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">HTML Headings</h3>
      <p class="text16">HTML headings are created using the
        &nbsp;
        <span class="bg-gray-200" style="color:#905">
          <span style="color:#999"> &lt;</span>h1<span style="color:#999">&gt; </span>
        </span>&nbsp;
        To
        &nbsp;
        <span class="bg-gray-200" style="color:#905">
          <span style="color:#999"> &lt;</span>/h6<span style="color:#999">&gt; </span>
        </span>
        &nbsp;
        tags.
      </p>
      <ul class="space-y-1.5 list-disc pl-5">
        <li class="text16">The&nbsp;
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999"> &lt;</span>h1<span style="color:#999">&gt; </span>
          </span>&nbsp;
          represents the <b>Most important</b> heading
        </li>
        <li class="text16">The&nbsp;
          <span class="bg-gray-200" style="color:#905">
            <span style="color:#999"> &lt;</span>h6<span style="color:#999">&gt; </span>
          </span>&nbsp;
          represents the <b>Least important</b> heading
        </li>
      </ul>

      <div class="p-6 bg-yellow-600/20">
        <div class="p-6 py-2.5 border-l-2 border-yellow-600 bg-white">
          <div>
            <span style="color:#999">&lt;</span>h1<span style="color:#999">&gt;</span>
            My First Heading<span style="color:#905">
            <span style="color:#999">&lt;</span>/h1<span style="color:#999">&gt;</span>
              <br>
              <br>
            <span style="color:#999">&lt;</span>h2<span style="color:#999">&gt;</span>
            </span>My First Heading<span style="color:#905">
            <span style="color:#999">&lt;</span>/h2<span style="color:#999">&gt;</span>
              <br>
              <br>
            <span style="color:#999">&lt;</span>h3<span style="color:#999">&gt;</span>
            </span>My First Heading<span style="color:#905">
            <span style="color:#999">&lt;</span>/h3<span style="color:#999">&gt;</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
