<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">Using Emojis in HTML</h3>
        <p class="text16">Emojis are characters from the UTF-8 character set: 😄 😍 💗</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <table class="ws-table-all">
            <tbody>
              <tr>
                <th>Emoji</th>
                <th>Value</th>
                <th></th>
              </tr>
              <tr>
                <td>🗻</td>
                <td>&amp;#128507;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>🗼</td>
                <td>&amp;#128508;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>🗽</td>
                <td>&amp;#128509;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>🗾</td>
                <td>&amp;#128510;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>🗿</td>
                <td>&amp;#128511;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>😀</td>
                <td>&amp;#128512;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>😁</td>
                <td>&amp;#128513;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>😂</td>
                <td>&amp;#128514;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>😃</td>
                <td>&amp;#128515;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>😄</td>
                <td>&amp;#128516;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
              <tr>
                <td>😅</td>
                <td>&amp;#128517;</td>
                <td>
                  <a target="_blank" href="">Try it »</a>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">HTML Emojis Examples</h3>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div class="text-30"> 🚀🚁🚂🚃🚄 </div>
            </div>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div class="text-30">
                    💺💻💼💽💾
                </div>
            </div>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div class="text-30">
                    👮👯👰👱👲
                </div>
            </div>
        </div>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div class="text-30">
                    🐂🐃🐄🐅🐆
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">What are Emojis?</h3>
        <p>Emojis look like images, or icons, but they are not.</p>
        <p>They are letters (characters) from the UTF-8 (Unicode) character set.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">The HTML charset Attribute</h3>
        <p>To display an HTML page correctly, a web browser must know the character set used in the page.</p>
        <p>This is specified in the &lt;meta&gt; tag:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> charset <span style="color:#005cc5">="UTF-8"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">UTF-8 Characters</h3>
        <p>Many UTF-8 characters cannot be typed on a keyboard, but they can always be displayed using numbers (called entity numbers):</p>
        <ul class="space-y-1.5 list-disc pl-10">
            <li>A is 80</li>
            <li>B is 41</li>
            <li>C is 26</li>
        </ul>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> charset <span style="color:#005cc5">="UTF-8"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>I will display A B C <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>I will display &amp;#65; &amp;#66; &amp;#67; <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h4 class="text-20">Example Explained</h4>
        <p>The &lt;meta charset="UTF-8"&gt; element defines the character set.</p>
        <p>The characters A, B, and C, are displayed by the numbers 80, 41, and 26.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-medium">Emoji Characters</h3>
        <p>Emojis are also characters from the UTF-8 alphabet:</p>
        <ul class="space-y-1.5 list-disc pl-10">
            <li>⏰ is 9200 </li>
            <li>🌸 is 127800</li>
            <li>🏠 is 127968</li>
        </ul>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <div class="p-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> charset <span style="color:#005cc5">="UTF-8"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>h1 <span style="color:#999">&gt;</span>
                    </span>My First Emoji <span style="color:#905">
                      <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>&amp;#128512; <span style="color:#905">
                      <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
