<div class="w-full py-10 px-5 space-y-10">
    <div>
        <div class="border-b border-dashed border-slate-500 mb-2.5">
            <h2 class="text-52 text-black font-bold mb-5 bg-red-200 inline-block p-1.5">1. Colors</h2>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5">
            <h3 class="titel font-medium">HTML Colors</h3>
            <p class="text16">HTML colors are specified with predefined color names, or with RGB, HEX, HSL, RGBA, or HSLA values.</p>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Color Names</h3>
            <p>In HTML, a color can be specified by using a color name:</p>
            <div class="flex flex-wrap -mx-2.5" style="margin:0 -16px;line-height:80px;color:white; padding-top: 20px;">
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:tomato;">Tomato</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:orange;">Orange</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:dodgerblue;">DodgerBlue</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:mediumseagreen;">MediumSeaGreen</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:gray;">Gray</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:slateblue;">SlateBlue</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:violet;">Violet</div>
                </div>
                <div class="w-1/4 p-2.5">
                  <div style="text-align: center; background-color:lightgray;color:#444444">LightGray</div>
                </div>
                <div class="pl-2.5">
                    <a href="" class="btn_primary inline-block">Try Now</a>
                </div>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Background Color</h3>
            <p>You can set the background color for HTML elements:</p>
            <div style="background-color:dodgerblue; text-align:center;color:white;font-size:24px;">Hello World</div>
            <div style="background-color:tomato;color:white; padding: 20px;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </div>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:DodgerBlue;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Hello World <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="background-color:Tomato;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Lorem ipsum... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Text Color</h3>
            <p>You can set the color of text:</p>
            <h3 style="color:tomato">Hello World</h3>
            <p style="color:dodgerblue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p style="color:mediumseagreen">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="color:Tomato;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Hello World <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="color:DodgerBlue;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Lorem ipsum... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>p <span style="color:green"> style <span style="color:#005cc5">="color:MediumSeaGreen;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Ut wisi enim... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Border Color</h3>
            <p>You can set the color of borders:</p>
            <h2 style="border: 2px solid Tomato;">Hello World</h2>
            <h2 style="border: 2px solid DodgerBlue;">Hello World</h2>
            <h2 style="border: 2px solid Violet;">Hello World</h2>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="border:2px solid Tomato;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Hello World <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="border:2px solid DodgerBlue;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Hello World <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="border:2px solid Violet;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>Hello World <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Color Values</h3>
            <p>In HTML, colors can also be specified using RGB values, HEX values, HSL values, RGBA values, and HSLA values.</p>
            <p>The following three <code>&lt;div&gt;</code> elements have their background color set with RGB, HEX, and HSL values:</p>
            <div style="line-height:60px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                <div style="padding: 0 10px; background-color:rgb(255, 99, 71);margin:10px 0;">rgb(255, 99, 71)</div>
                <div style="padding: 0 10px; background-color:#ff6347;margin:10px 0;">#ff6347</div>
                <div style="padding: 0 10px; background-color:hsl(9, 100%, 64%);margin:10px 0;">hsl(9, 100%, 64%)</div>
            </div>
            <p>The following two <code>&lt;div&gt;</code> elements have their background color set with RGBA and HSLA values, which add an Alpha channel to the color (here we have 50% transparency):</p>
            <div class="w3-center" style="line-height:60px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                <div style="padding: 0 10px; background-color:rgba(255, 99, 71, 0.5);margin:10px 0;">rgba(255, 99, 71, 0.5)</div>
                <div style="padding: 0 10px; background-color:hsla(9, 100%, 64%, 0.5);margin:10px 0;">hsla(9, 100%, 64%, 0.5)</div>
            </div>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:rgb(255, 99, 71);"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:#ff6347;"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:hsl(9, 100%, 64%);"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:rgba(255, 99, 71, 0.5);"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                        <br>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>h1 <span style="color:green"> style <span style="color:#005cc5">="background-color:hsla(9, 100%, 64%, 0.5);"</span>
                            </span>
                            <span style="color:#999">&gt;</span>
                        </span>... <span style="color:#905">
                            <span style="color:#999">&lt;</span>/h1 <span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
    </div>
    <div>
        <div class="border-b border-dashed border-slate-500 mb-2.5">
            <h2 class="text-52 text-black font-bold mb-5 bg-red-200 inline-block p-1.5">2. RGB</h2>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5">
            <h3 class="titel font-medium">HTML RGB and RGBA Colors</h3>
            <p class="text16">An RGB color value represents RED, GREEN, and BLUE light sources.</p>
            <p>An RGBA color value is an extension of RGB with an Alpha channel (opacity).</p>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">RGB Color Values</h3>
            <p>In HTML, a color can be specified as an RGB value, using this formula:</p>
            <p class="text-20"><b>rgb(red, green, blue)</b></p>
            <p>Each parameter (red, green, and blue) defines the intensity of the color with a value between 0 and 255.</p>
            <p>This means that there are 256 x 256 x 256 = 16777216 possible colors!</p>
            <p>For example, rgb(255, 0, 0) is displayed as red, because red is set to its highest value (255), and the other two (green and blue) are set to 0.</p>
            <p>Another example, rgb(0, 255, 0) is displayed as green, because green is set to its highest value (255), and the other two (red and blue) are set to 0.</p>
            <p>To display black, set all color parameters to 0, like this: rgb(0, 0, 0).</p>
            <p>To display white, set all color parameters to 255, like this: rgb(255, 255, 255).</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px ; background-color:rgb(255, 0, 0);">rgb(255, 0, 0)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px ; background-color:rgb(0, 0, 255);">rgb(0, 0, 255)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px ; background-color:rgb(60, 179, 113);">rgb(60, 179, 113)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px ; background-color:rgb(238, 130, 238);">rgb(238, 130, 238)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px ; background-color:rgb(255, 165, 0);">rgb(255, 165, 0)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px ; background-color:rgb(106, 90, 205);">rgb(106, 90, 205)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Shades of Gray</h3>
            <p>Shades of gray are often defined using equal values for all three parameters:</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-gray-300">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:rgb(60, 60, 60);">rgb(60, 60, 60)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:rgb(100, 100, 100);">rgb(100, 100, 100)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:rgb(140, 140, 140);">rgb(140, 140, 140)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:rgb(180, 180, 180);">rgb(180, 180, 180)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:rgb(200, 200, 200);color:#555555">rgb(200, 200, 200)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:rgb(240, 240, 240);color:#555555">rgb(240, 240, 240)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">RGBA Color Values</h3>
            <p>RGBA color values are an extension of RGB color values with an Alpha channel - which specifies the opacity for a color.</p>
            <p>An RGBA color value is specified with:</p>
            <p class="text-20"><b>rgba(red, green, blue, alpha)</b></p>
            <p>The alpha parameter is a number between 0.0 (fully transparent) and 1.0 (not transparent at all):</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div class="flex flex-wrap -mx-2.5">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:rgba(255, 99, 71, 0);color:#555555;">rgba(255, 99, 71, 0)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:rgba(255, 99, 71, 0.2);color:#555555;">rgba(255, 99, 71, 0.2)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:rgba(255, 99, 71, 0.4);">rgba(255, 99, 71, 0.4)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:rgba(255, 99, 71, 0.6);">rgba(255, 99, 71, 0.6)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:rgba(255, 99, 71, 0.8);">rgba(255, 99, 71, 0.8)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:rgba(255, 99, 71, 1);">rgba(255, 99, 71, 1)</div>
                            </div>
                        </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
    </div>
    <div>
        <div class="border-b border-dashed border-slate-500 mb-2.5">
            <h2 class="text-52 text-black font-bold mb-5 bg-red-200 inline-block p-1.5">3. HEX</h2>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5">
            <h3 class="titel font-medium">HTML HEX Colors</h3>
            <p class="text16">A hexadecimal color is specified with: #RRGGBB, where the RR (red), GG (green) and BB (blue) hexadecimal integers specify the components of the color.</p>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">HEX Color Values</h3>
            <p>In HTML, a color can be specified using a hexadecimal value in the form:</p>
            <p class="text-20"><b>#rrggbb</b></p>
            <p>Where rr (red), gg (green) and bb (blue) are hexadecimal values between 00 and ff (same as decimal 0-255).</p>
            <p>For example, #ff0000 is displayed as red, because red is set to its highest value (ff), and the other two (green and blue) are set to 00.</p>
            <p>Another example, #00ff00 is displayed as green, because green is set to its highest value (ff), and the other two (red and blue) are set to 00.</p>
            <p>To display black, set all color parameters to 00, like this: #000000.</p>
            <p>To display white, set all color parameters to ff, like this: #ffffff.</p>
            <p>Experiment by mixing the HEX values below:</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:#ff0000;">#ff0000</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:#0000ff;">#0000ff</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:#3cb371;">#3cb371</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:#ee82ee;">#ee82ee</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:#ffa500;">#ffa500</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:#6a5acd;">#6a5acd</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Shades of Gray</h3>
            <p>Shades of gray are often defined using equal values for all three parameters:</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:#404040;">#404040</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:#686868;">#686868</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:#A0A0A0;">#a0a0a0</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:#BEBEBE;">#bebebe</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:#dcdcdc;color:#555555">#dcdcdc</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:#f8f8f8;color:#555555">#f8f8f8</div>
                          </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
    </div>
    <div>
        <div class="border-b border-dashed border-slate-500 mb-2.5">
            <h2 class="text-52 text-black font-bold mb-5 bg-red-200 inline-block p-1.5">4. HSL</h2>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5">
            <h3 class="titel font-medium">HTML HSL and HSLA Colors</h3>
            <p class="text16">HSL stands for hue, saturation, and lightness.</p>
            <p>HSLA color values are an extension of HSL with an Alpha channel (opacity).</p>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">HSL Color Values</h3>
            <p>In HTML, a color can be specified using hue, saturation, and lightness (HSL) in the form:</p>
            <p class="text-20"><b>hsl(hue, saturation, lightness)</b></p>
            <p>Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, and 240 is blue.</p>
            <p>Saturation is a percentage value. 0% means a shade of gray, and 100% is the full color.</p>
            <p>Lightness is also a percentage value. 0% is black, and 100% is white.</p>
            <p>Experiment by mixing the HSL values below:</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:hsl(0, 100%, 50%);">hsl(0, 100%, 50%)</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:hsl(240, 100%, 50%)">hsl(240, 100%, 50%)</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:hsl(147, 50%, 47%);">hsl(147, 50%, 47%)</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:hsl(300, 76%, 72%);">hsl(300, 76%, 72%)</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:hsl(39, 100%, 50%);">hsl(39, 100%, 50%)</div>
                          </div>
                          <div class="w-1/2 p-2.5">
                            <div style="padding: 0 20px; background-color:hsl(248, 53%, 58%);">hsl(248, 53%, 58%)</div>
                          </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Saturation</h3>
            <p>Saturation can be described as the intensity of a color.</p>
            <p>100% is pure color, no shades of gray.</p>
            <p>50% is 50% gray, but you can still see the color.</p>
            <p>0% is completely gray; you can no longer see the color.</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 50%);">hsl(0, 100%, 50%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 80%, 50%)">hsl(0, 80%, 50%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 60%, 50%);">hsl(0, 60%, 50%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 40%, 50%);">hsl(0, 40%, 50%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 20%, 50%);">hsl(0, 20%, 50%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 50%);">hsl(0, 0%, 50%)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Lightness</h3>
            <p>The lightness of a color can be described as how much light you want to give the color, where 0% means no light (black), 50% means 50% light (neither dark nor light), and 100% means full lightness (white).</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-gray-300">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 0%);">hsl(0, 100%, 0%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 25%)">hsl(0, 100%, 25%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 50%);">hsl(0, 100%, 50%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 75%);">hsl(0, 100%, 75%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 90%);color:#555555">hsl(0, 100%, 90%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 100%, 100%);color:#555555;">hsl(0, 100%, 100%)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">Shades of Gray</h3>
            <p>Shades of gray are often defined by setting the hue and saturation to 0, and adjusting the lightness from 0% to 100% to get darker/lighter shades:</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5" style="line-height:80px;color:white;font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 20%);">hsl(0, 0%, 20%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 30%)">hsl(0, 0%, 30%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 40%);">hsl(0, 0%, 40%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 60%);">hsl(0, 0%, 60%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 70%);color:#555555">hsl(0, 0%, 70%)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 0 20px; background-color:hsl(0, 0%, 90%);color:#555555;">hsl(0, 0%, 90%)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
        <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
            <h3 class="font-normal">HSLA Color Values</h3>
            <p>HSLA color values are an extension of HSL color values, with an Alpha channel - which specifies the opacity for a color.</p>
            <p>An HSLA color value is specified with:</p>
            <p class="text-20"><b>hsla(hue, saturation, lightness, alpha)</b></p>
            <p>The alpha parameter is a number between 0.0 (fully transparent) and 1.0 (not transparent at all):</p>
            <p>Experiment by mixing the HSLA values below:</p>
            <div class="p-6 bg-yellow-600/20 space-y-3.5">
                <h3>Example</h3>
                <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                    <div>
                        <div class="flex flex-wrap -mx-2.5">
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:hsla(9, 100%, 64%, 0);color:#555555;">hsla(9, 100%, 64%, 0)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:hsla(9, 100%, 64%, 0.2);color:#555555;">hsla(9, 100%, 64%, 0.2)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:hsla(9, 100%, 64%, 0.4);">hsla(9, 100%, 64%, 0.4)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:hsla(9, 100%, 64%, 0.6);">hsla(9, 100%, 64%, 0.6)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:hsla(9, 100%, 64%, 0.8);">hsla(9, 100%, 64%, 0.8)</div>
                            </div>
                            <div class="w-1/2 p-2.5">
                                <div style="padding: 20px; background-color:hsla(9, 100%, 64%, 1);">hsla(9, 100%, 64%, 1)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" class="btn_primary">Try Now</a>
            </div>
        </div>
    </div>
</div>
