<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
        <h3 class="titel font-medium">HTML Text Formatting</h3>
        <p class="text16">HTML contains several elements for defining text with a special meaning.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <p style="margin: 20px 0;">
                        <b>This text is bold</b>
                    </p>
                    <p style="margin: 20px 0;">
                        <i>This text is italic</i>
                    </p>
                    <p style="margin: 20px 0;">This is <sub class="font-medium"> subscript</sub> and <sup class="font-medium"> superscript</sup>
                    </p>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML Formatting Elements</h3>
        <p>Formatting elements were designed to display special types of text:</p>
        <ul class="space-y-1.5 list-disc pl-5">
            <li><code>&lt;br&gt;</code> - Bold text</li>
            <li><code>&lt;strong&gt;</code> - Important text</li>
            <li><code>&lt;i&gt;</code> - Italic text</li>
            <li><code>&lt;em&gt;</code> - Emphasized text</li>
            <li><code>&lt;mark&gt;</code> - Marked text</li>
            <li><code>&lt;small&gt;</code> - Smaller text</li>
            <li><code>&lt;del&gt;</code> - Deleted text</li>
            <li><code>&lt;ins&gt;</code> - Inserted text</li>
            <li><code>&lt;sub&gt;</code> - Subscript text</li>
            <li><code>&lt;sup&gt;</code> - Superscript text</li>
        </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;br&gt;</code> and <code class="text-black">&lt;strong&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;b&gt;</code> element defines bold text, without any extra importance.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>b <span style="color:#999">&gt;</span>
                    </span>This text is bold <span style="color:#905">
                        <span style="color:#999">&lt;</span>/b <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>The HTML <code>&lt;strong&gt;</code> element defines text with strong importance. The content inside is typically displayed in bold.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>strong <span style="color:#999">&gt;</span>
                    </span>This text is important! <span style="color:#905">
                        <span style="color:#999">&lt;</span>/strong <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;i&gt;</code> and <code class="text-black">&lt;em&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;i&gt;</code> element defines a part of text in an alternate voice or mood. The content inside is typically displayed in italic.</p>
        <p><b>Tip:</b> The <code>&lt;i&gt;</code> tag is often used to indicate a technical term, a phrase from another language, a thought, a ship name, etc.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>i <span style="color:#999">&gt;</span>
                    </span>This text is italic <span style="color:#905">
                        <span style="color:#999">&lt;</span>/i <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
        <p>The HTML <code>&lt;em&gt;</code> element defines emphasized text. The content inside is typically displayed in italic.</p>
        <p><b>Tip:</b> A screen reader will pronounce the words in <code>&lt;em&gt;</code> with an emphasis, using verbal stress.</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>em <span style="color:#999">&gt;</span>
                    </span>This text is emphasized <span style="color:#905">
                        <span style="color:#999">&lt;</span>/em <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;small&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;small&gt;</code> element defines smaller text:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>small <span style="color:#999">&gt;</span>
                    </span>This is some smaller text. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/small <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;mark&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;mark&gt;</code> element defines text that should be marked or highlighted:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>Do not forget to buy <span style="color:#905">
                        <span style="color:#999">&lt;</span>mark <span style="color:#999">&gt;</span>
                    </span>milk <span style="color:#905">
                        <span style="color:#999">&lt;</span>/mark <span style="color:#999">&gt;</span>
                    </span> today. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;del&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;del&gt;</code> element defines text that has been deleted from a document. Browsers will usually strike a line through deleted text:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>My favorite color is <span style="color:#905">
                        <span style="color:#999">&lt;</span>del <span style="color:#999">&gt;</span>
                    </span>blue <span style="color:#905">
                        <span style="color:#999">&lt;</span>/del <span style="color:#999">&gt;</span>
                    </span> red. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;ins&gt;</code> Elements</h3>
        <p>The HTML  <code>&lt;ins&gt;</code> element defines a text that has been inserted into a document. Browsers will usually underline inserted text:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>My favorite color is <span style="color:#905">
                        <span style="color:#999">&lt;</span>del <span style="color:#999">&gt;</span>
                    </span>blue <span style="color:#905">
                        <span style="color:#999">&lt;</span>/del <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>ins <span style="color:#999">&gt;</span>
                    </span>red <span style="color:#905">
                        <span style="color:#999">&lt;</span>/ins <span style="color:#999">&gt;</span>
                    </span>. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;sub&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;sub&gt;</code> element defines subscript text. Subscript text appears half a character below the normal line, and is sometimes rendered in a smaller font. Subscript text can be used for chemical formulas, like H2O:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is <span style="color:#905">
                        <span style="color:#999">&lt;</span>sub <span style="color:#999">&gt;</span>
                    </span>subscripted <span style="color:#905">
                        <span style="color:#999">&lt;</span>/sub <span style="color:#999">&gt;</span>
                    </span> text. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">HTML <code class="text-black">&lt;sup&gt;</code> Elements</h3>
        <p>The HTML <code>&lt;sup&gt;</code> element defines superscript text. Superscript text appears half a character above the normal line, and is sometimes rendered in a smaller font. Superscript text can be used for footnotes, like WWW[1]:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>p <span style="color:#999">&gt;</span>
                    </span>This is <span style="color:#905">
                        <span style="color:#999">&lt;</span>sup <span style="color:#999">&gt;</span>
                    </span>superscripted <span style="color:#905">
                        <span style="color:#999">&lt;</span>/sup <span style="color:#999">&gt;</span>
                    </span> text. <span style="color:#905">
                        <span style="color:#999">&lt;</span>/p <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
            <a href="" class="btn_primary">Try Now</a>
        </div>
    </div>
</div>
