<div class="w-full py-10 px-5">
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
      <h3 class="titel font-medium">HTML Video</h3>
      <p class="text16">The HTML <code>&lt;video&gt;</code> element is used to show a video on a web page.</p>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
    <div class="p-6 bg-yellow-600/20 space-y-3.5">
      <h3>Example</h3>
      <div class="p-6 border-l-2 border-yellow-600 bg-white">
          <div style="text-align:center">
              <video id="video1" style="width:600px;max-width:100%;" controls="">
                  <source src="mov_bbb.mp4" type="video/mp4">
                  <source src="mov_bbb.ogg" type="video/ogg"> Your browser does not support HTML5 video.
              </video>
          </div>
      </div>
      <a href="" class="btn_primary">Try Now</a>
    </div>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">The HTML &lt;video&gt; Element</h3>
    <p class="text16">To show a video in HTML, use the &lt;video&gt; element:</p>
    <div class="p-6 bg-yellow-600/20 space-y-3.5">
      <h3>Example</h3>
      <div class="p-6 border-l-2 border-yellow-600 bg-white">
        <div>
          <span style="color:#905"><span style="color:#999">&lt;</span>video<span style="color:green"> width<span style="color:#005cc5">="320"</span> height<span style="color:#005cc5">="240"</span> controls</span><span style="color:#999">&gt;</span></span><br>
          &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>source<span style="color:green"> src<span style="color:#005cc5">="movie.mp4"</span> type<span style="color:#005cc5">="video/mp4"</span></span><span style="color:#999">&gt;</span></span><br>
          &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>source<span style="color:green"> src<span style="color:#005cc5">="movie.ogg"</span> type<span style="color:#005cc5">="video/ogg"</span></span><span style="color:#999">&gt;</span></span><br>
          Your browser does not support the video tag.<br>
          <span style="color:#905"><span style="color:#999">&lt;</span>/video<span style="color:#999">&gt;</span></span>
        </div>
      </div>
      <a href="" class="btn_primary">Try Now</a>
    </div>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">How it Works</h3>
    <p class="text16">The <code>controls</code> attribute adds video controls, like play, pause, and volume.</p>
    <p class="text16">It is a good idea to always include <code>width</code> and <code>height</code> attributes. If height and width are not set, the page might flicker while the video loads.</p>
    <p class="text16">The <code>&lt;source&gt;</code> element allows you to specify alternative video files which the browser may choose from. The browser will use the first recognized format.</p>
    <p class="text16">The text between the <code>&lt;video&gt;</code> and <code>&lt;/video&gt;</code> tags will only be displayed in browsers that do not support the <code>&lt;video&gt;</code> element.</p>
  </div>  
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">HTML &lt;video&gt; Autoplay</h3>
    <p class="text16">To start a video automatically, use the <code>&lt;autoplay&gt;</code> attribute:</p>
    <div class="p-6 bg-yellow-600/20 space-y-3.5">
      <h3>Example</h3>
      <div class="p-6 border-l-2 border-yellow-600 bg-white">
        <div>
          <span style="color:#905"><span style="color:#999">&lt;</span>video<span style="color:green"> width<span style="color:#005cc5">="320"</span> height<span style="color:#005cc5">="240"</span> autoplay</span><span style="color:#999">&gt;</span></span><br>
          &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>source<span style="color:green"> src<span style="color:#005cc5">="movie.mp4"</span> type<span style="color:#005cc5">="video/mp4"</span></span><span style="color:#999">&gt;</span></span><br>
          &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>source<span style="color:green"> src<span style="color:#005cc5">="movie.ogg"</span> type<span style="color:#005cc5">="video/ogg"</span></span><span style="color:#999">&gt;</span></span><br>
          Your browser does not support the video tag.<br>
          <span style="color:#905"><span style="color:#999">&lt;</span>/video<span style="color:#999">&gt;</span></span>
        </div>
      </div>
      <a href="" class="btn_primary">Try Now</a>
    </div>
    <div class="p-3.5 bg-yellow-700/20">
      <p><b>Note:</b> Chromium browsers do not allow autoplay in most cases. However, muted autoplay is always allowed.</p>
    </div>
    <p class="text16">Add <code>muted</code> after <code>autoplay</code> to let your video start playing automatically (but muted):</p>
    <div class="p-6 bg-yellow-600/20 space-y-3.5">
      <h3>Example</h3>
      <div class="p-6 border-l-2 border-yellow-600 bg-white">
        <div>
          <span style="color:#905"><span style="color:#999">&lt;</span>video<span style="color:green"> width<span style="color:#005cc5">="320"</span> height<span style="color:#005cc5">="240"</span> autoplay</span><span style="color:#999">&gt;</span></span><br>
          &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>source<span style="color:green"> src<span style="color:#005cc5">="movie.mp4"</span> type<span style="color:#005cc5">="video/mp4"</span></span><span style="color:#999">&gt;</span></span><br>
          &nbsp; <span style="color:#905"><span style="color:#999">&lt;</span>source<span style="color:green"> src<span style="color:#005cc5">="movie.ogg"</span> type<span style="color:#005cc5">="video/ogg"</span></span><span style="color:#999">&gt;</span></span><br>
          Your browser does not support the video tag.<br>
          <span style="color:#905"><span style="color:#999">&lt;</span>/video<span style="color:#999">&gt;</span></span>
        </div>
      </div>
      <a href="" class="btn_primary">Try Now</a>
    </div>
  </div>  
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">Browser Support</h3>
    <p class="text16">The numbers in the table specify the first browser version that fully supports the <code>&lt;video&gt;</code> element.</p>
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <tr>
          <th style="width:20%;font-size:16px;text-align:left;">Element</th>
          <th style="width:16%;" title="Chrome">
            <img src="https://pngimg.com/d/chrome_logo_PNG13.png" alt="Chrome" class="mx-auto max-w-10"/>
          </th>
          <th style="width:16%;" title="Internet Explorer / Edge">
            <img src="https://www.bitdefender.com/media/uploads/2017/06/microsoft-edge.png" alt="Internet Explorer" class="mx-auto max-w-10"/>
          </th>
          <th style="width:16%;" title="Firefox">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Firefox_logo%2C_2019.png" alt="Firefox" class="mx-auto max-w-10"/>
          </th>
          <th style="width:16%;" title="Safari">
            <img src="https://pngimg.com/d/safari_PNG6.png" alt="Safari" class="mx-auto max-w-11"/>
          </th>
          <th style="width:16%;" title="Opera">
            <img src="https://pngimg.com/d/opers_PNG15.png" alt="Opera" class="mx-auto max-w-8"/>
          </th>                
        </tr>
        <tr>
          <td style="text-align:left;"><code>&lt;video&gt;</code></td>
          <td style="text-align: center;">4.0</td>
          <td style="text-align: center;">9.0</td>
          <td style="text-align: center;">3.5</td>
          <td style="text-align: center;">4.0</td>
          <td style="text-align: center;">10.5</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">HTML Video Formats</h3>
    <p class="text16">There are three supported video formats: MP4, WebM, and Ogg. The browser support for the different formats is:</p>
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <tr>
            <th style="width:25%">Browser</th>
            <th style="width:25%">MP4</th>
            <th style="width:25%">WebM</th>
            <th style="width:25%">Ogg</th>
        </tr>
        <tr>
            <td>Edge</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Chrome</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Firefox</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Safari</td>
            <td>YES</td>
            <td>YES</td>
            <td>NO</td>
        </tr>
        <tr>
            <td>Opera</td>
            <td>YES</td>
            <td>YES</td>
            <td>YES</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">HTML Video - Media Types</h3>
    <div class="w-full overflow-x-auto">
      <table class="ws-table-all notranslate" id="table1">
          <tr>
              <th style="width:50%">File Format</th>
              <th style="width:50%">Media Type</th>
          </tr>
          <tr>
              <td>MP4</td>
              <td>video/mp4</td>
          </tr>
          <tr>
              <td>WebM</td>
              <td>video/webm</td>
          </tr>
          <tr>
              <td>Ogg</td>
              <td>video/ogg</td>
          </tr>
      </table>
    </div>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">HTML Video - Methods, Properties, and Events</h3>
    <p class="text16">The HTML DOM defines methods, properties, and events for the <code>&lt;video&gt;</code> element.</p>
    <p class="text16">This allows you to load, play, and pause videos, as well as setting duration and volume.</p>
    <p class="text16">There are also DOM events that can notify you when a video begins to play, is paused, etc.</p>
    <div class="p-6 bg-yellow-600/20 space-y-3.5">
      <h3>Example</h3>
      <div class="p-6 border-l-2 border-yellow-600 bg-white">
        <div style="text-align:center;" class="space-x-2"> 
          <button class="bg-gray-200 px-2 py-0.5 rounded" onclick="playPause()">Play/Pause</button> 
          <button class="bg-gray-200 px-2 py-0.5 rounded" onclick="makeBig()">Big</button>
          <button class="bg-gray-200 px-2 py-0.5 rounded" onclick="makeSmall()">Small</button>
          <button class="bg-gray-200 px-2 py-0.5 rounded" onclick="makeNormal()">Normal</button>
          <br><br> 
          <video id="video2" width="480" style="max-width:100%">
            <source src="mov_bbb.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
          </video>
        <script> 
           var myVideo = document.getElementById("video2"); 
            function playPause() { 
                if (myVideo.paused) 
                    myVideo.play(); 
                else 
                    myVideo.pause(); 
            } 
            
            function makeBig() {
                myVideo.width = 600;
            } 
            
            function makeSmall() { 
                myVideo.width = 320; 
            } 
            
            function makeNormal() { 
                myVideo.width = 480;
            } 
        </script> 
        <p>Video courtesy of <a href="https://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a>.</p>
        </div>
      </div>
      <a href="" class="btn_primary">Try Now</a>
    </div>
  </div>
  <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 py-6">
    <h3 class="font-medium">HTML Video Tags</h3>
    <div class="overflow-x-auto w-full">
      <table class="w-full">
          <tr>
              <th style="width:20%">Tag</th>
              <th>Description</th>
          </tr>
          <tr>
              <td><a href="/tags/tag_video.asp">&lt;video&gt;</a></td>
              <td>Defines a video or movie</td>
          </tr>
          <tr>
              <td><a href="/tags/tag_source.asp">&lt;source&gt;</a></td>
              <td>Defines multiple media resources for media elements, such as &lt;video&gt; and &lt;audio&gt;</td>
          </tr>
          <tr>
              <td><a href="/tags/tag_track.asp">&lt;track&gt;</a></td>
              <td>Defines text tracks in media players</td>
          </tr>
      </table>
    </div>
  </div>
</div>