<div class="w-full py-10 md:px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
      <h3 class="titel font-medium">HTML Editors</h3>
      <p class="text16">A simple text editor is all you need to learn HTML.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Learn HTML with Notepad or TextEdit</h3>
      <ul class="space-y-1.5 list-disc pl-5">
        <li class="text16">You can create and edit web pages using professional HTML editors.</li>
        <li class="text16">However, when learning HTML, we recommend using a simple text editor like <b>Notepad</b> (on Windows) or <b>TextEdit</b> (on Mac).</li>
        <li class="text16">Using a basic text editor helps you understand HTML structure better and improves your coding skills.</li>
        <li class="text16">Follow the steps below to create your first web page using Notepad or TextEdit. </li>
      </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Step 1: Launch Notepad on Windows
      </h3>
      <ul type="1" class="space-y-1.5 pl-5 list-disc">
        <li class="text16">For Windows 10 or later:
          <ol class="space-y-1.5 pl-5 list-decimal">
            <li class="text16">Click the <b>Start Menu</b> (Windows icon in the bottom left corner).</li>
            <li class="text16">Type <b>Notepad</b> in the search bar and press <b>Enter</b>.</li>
          </ol>
        </li>
        <li class="text16">For Windows 7 or earlier:
          <ol class="space-y-1.5 pl-5 list-decimal">
            <li class="text16">Click <b>Start</b> > <b>All Programs</b> > <b>Accessories</b>.
            </li>
            <li class="text16">Select <b>Notepad</b> from the list.</li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Step 1: Open TextEdit (Mac)</h3>
      <ol type="1" class="space-y-1.5 pl-5 list-decimal">
        <li class="text16">Open <b>Finder</b> > <b>Applications</b> > <b>TextEdit</b>.</li>
        <li class="text16">Adjust some settings to ensure your files are saved correctly:
          <ul class="space-y-1.5 pl-5 list-disc">
            <li class="text16">Go to <b>Preferences</b> > <b>Format</b> and select <b>"Plain Text"</b>.</li>
            <li class="text16">Under the <b>"Open and Save"</b> tab, check the box that says <b>"Display HTML files as HTML code instead of formatted text"</b>.</li>
          </ul>
        </li>
        <li class="text16">Now, open a <b>new document</b> and start writing your HTML code.</li>
      </ol>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Step 2: Write Some HTML</h3>
      <p>Write or copy the following HTML code into Notepad:</p>
      <div class="p-6 bg-yellow-600/20">
        <div class="p-6 border-l-2 border-yellow-600 bg-white">
          <div >
            <span  style="color:slategray">&lt;!DOCTYPE html&gt;</span><br><span style="color:#905"><span style="color:#999">&lt;</span>html<span style="color:#999">&gt;</span></span><br><span style="color:#905"><span style="color:#999">&lt;</span>body<span style="color:#999">&gt;</span></span><br><br><span style="color:#905"><span style="color:#999">&lt;</span>h1<span style="color:#999">&gt;</span></span>My First Heading<span style="color:#905"><span style="color:#999">&lt;</span>/h1<span style="color:#999">&gt;</span></span><br><br>
            <span style="color:#905"><span style="color:#999">&lt;</span>p<span style="color:#999">&gt;</span></span>My first paragraph.<span style="color:#905"><span style="color:#999">&lt;</span>/p<span style="color:#999">&gt;</span></span><br><br><span style="color:#905"><span style="color:#999">&lt;</span>/body<span style="color:#999">&gt;</span></span><br><span style="color:#905"><span style="color:#999">&lt;</span>/html<span style="color:#999">&gt;</span></span> </div>
        </div>
      </div>
      <div class="w-full">
        <img src="assets/images/01.png" alt="browser"/>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Step 3: Save the HTML Page</h3>
      <p class="text16">Save the file to your computer by selecting <b>File > Save As</b> from the Notepad menu.</p>
      <p class="text16">Give the file the name <b>"index.htm"</b> and choose <b>UTF-8</b> as the encoding, as it is the recommended encoding for HTML files.</p>
      <img src="assets/images/03.png" alt="03"/>
      <div class="p-3.5 bg-yellow-700/20">
        <p><b>Tip:</b> You can use either .htm or .html as file extension. There is no difference; it is up to you.</p>
      </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Step 4: Open the HTML File in Your Browser</h3>
      <p class="text16">Locate the saved HTML file on your computer and open it in your preferred web browser.</p>
      <ul class="space-y-1.5 pl-5 list-disc">
        <li class="text16"><b>Double-clicking</b> the file, or</li>
        <li class="text16"><b>Right-clicking</b> the file and selecting <b>"Open with"</b>, then choosing your browser.</li>
      </ul>
      <img src="assets/images/04.png" alt="04"/>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
      <h3 class="font-normal">Step 4: Open the HTML File in Your Browser</h3>
      <p class="text16">Locate the saved HTML file on your computer and open it in your preferred web browser.</p>
      <ul class="space-y-1.5 pl-5 list-disc">
        <li class="text16"><b>Double-clicking</b> the file, or</li>
        <li class="text16"><b>Right-clicking</b> the file and selecting <b>"Open with"</b>, then choosing your browser.</li>
      </ul>
      <img src="assets/images/04.png" alt="04"/>
    </div>
</div>
