<div class="w-full">
    <!-- <header></header> -->
    <main class="w-full">
      <div class="wrapper relative">
        <div class="flex flex-wrap -mx-3.5">
          <div class="absolute top-0 w-80 h-full  p-3.5 hidden_scroll">
            <div class="w-full h-full px-5 pb-7 bg-white rounded shadow-md space-y-5 overflow-y-auto">
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML Tutorial</h5>
                </div>
                <ul class="space-y-1">
                  <li><a [routerLink]="'htmlhome'" class="h_link">HTML HOME</a></li>
                  <li><a [routerLink]="'htmlintroduction'" class="h_link">HTML Introduction</a></li>
                  <li><a [routerLink]="'htmleditors'" class="h_link">HTML Editors</a></li>
                  <li><a [routerLink]="'htmlbasic'" class="h_link">HTML Basic</a></li>
                  <li><a [routerLink]="'htmlelements'" class="h_link">HTML Elements</a></li>
                  <li><a [routerLink]="'htmlattributes'" class="h_link">HTML Attributes</a></li>
                  <li><a [routerLink]="'htmlheadings'" class="h_link">HTML Headings</a></li>
                  <li><a [routerLink]="'htmlparagraphs'" class="h_link">HTML Paragraphs</a></li>
                  <li><a [routerLink]="'htmlstyles'" class="h_link">HTML Styles</a></li>
                  <li><a [routerLink]="'htmlformatting'" class="h_link">HTML Formatting</a></li>
                  <li><a [routerLink]="'htmlquotations'" class="h_link">HTML Quotations</a></li>
                  <li><a [routerLink]="'htmlcomments'" class="h_link">HTML Comments</a></li>
                  <li><a [routerLink]="'htmlcolors'" class="h_link">HTML Colors</a></li>
                  <li><a [routerLink]="'htmlcss'" class="h_link">HTML CSS</a></li>
                  <li><a [routerLink]="'htmllinks'" class="h_link">HTML Links</a></li>
                  <li><a [routerLink]="'htmlimages'" class="h_link">HTML Images</a></li>
                  <li><a [routerLink]="'htmlfavicon'" class="h_link">HTML Favicon</a></li>
                  <li><a [routerLink]="'htmlpagetitle'" class="h_link">HTML Page Title</a></li>
                  <li><a [routerLink]="'htmltables'" class="h_link">HTML Tables</a></li>
                  <li><a [routerLink]="'htmllists'" class="h_link">HTML Lists</a></li>
                  <li><a [routerLink]="'htmlblockinline'" class="h_link">HTML Block & Inline</a></li>
                  <li><a [routerLink]="'htmldiv'" class="h_link">HTML Div</a></li>
                  <li><a [routerLink]="'htmlclasses'" class="h_link">HTML Classes</a></li>
                  <li><a [routerLink]="'htmlid'" class="h_link">HTML Id</a></li>
                  <li><a [routerLink]="'htmliframes'" class="h_link">HTML Iframes</a></li>
                  <li><a [routerLink]="'htmljavascript'" class="h_link">HTML JavaScript</a></li>
                  <li><a [routerLink]="'htmlfilepaths'" class="h_link">HTML File Paths</a></li>
                  <li><a [routerLink]="'htmlhead'" class="h_link">HTML Head</a></li>
                  <li><a [routerLink]="'htmllayout'" class="h_link">HTML Layout</a></li>
                  <li><a [routerLink]="'htmlresponsive'" class="h_link">HTML Responsive</a></li>
                  <li><a [routerLink]="'htmlcomputercode'" class="h_link">HTML Computercode</a></li>
                  <li><a [routerLink]="'htmlsemantics'" class="h_link">HTML Semantics</a></li>
                  <li><a [routerLink]="'htmlstyleguide'" class="h_link">HTML Style Guide</a></li>
                  <li><a [routerLink]="'htmlentities'" class="h_link">HTML Entities</a></li>
                  <li><a [routerLink]="'htmlsymbols'" class="h_link">HTML Symbols</a></li>
                  <li><a [routerLink]="'htmlemojis'" class="h_link">HTML Emojis</a></li>
                  <li><a [routerLink]="'htmlcharacter'" class="h_link">HTML Charsets</a></li>
                  <li><a [routerLink]="'htmlurlencode'" class="h_link">HTML URL Encode</a></li>
                  <li><a [routerLink]="'htmlvsxhtml'" class="h_link">HTML vs. XHTML</a></li>
                </ul>
              </div>
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML Forms</h5>
                </div>
                <ul class="space-y-1">
                  <li><a [routerLink]="'htmlforms'" class="h_link">HTML Forms</a></li>
                  <li><a [routerLink]="'htmlformattributes'" class="h_link">HTML Form Attributes</a></li>
                  <li><a [routerLink]="'htmlformelements'" class="h_link">HTML Form Elements</a></li>
                  <li><a [routerLink]="'htmlinputtypes'" class="h_link">HTML Input Types</a></li>
                  <li><a [routerLink]="'htmlinputattributes'" class="h_link">HTML Input Attributes</a></li>
                  <li><a [routerLink]="'htmlinputformattributes'" class="h_link">Input Form Attributes</a></li>
                </ul>
              </div>
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML Graphics</h5>
                </div>
                <ul class="space-y-1">
                  <li><a [routerLink]="'htmlcanvas'" class="h_link">HTML Canvas</a></li>
                  <li><a [routerLink]="'htmlsvg'" class="h_link">HTML SVG</a></li>
                </ul>
              </div>
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML Media</h5>
                </div>
                <ul class="space-y-1">
                  <li><a [routerLink]="'htmlmedia'" class="h_link">HTML Media</a></li>
                  <li><a [routerLink]="'htmlvideo'" class="h_link">HTML Video</a></li>
                  <li><a [routerLink]="'htmlaudio'" class="h_link">HTML Audio</a></li>
                  <li><a [routerLink]="'htmlplugins'" class="h_link">HTML Plug-ins</a></li>
                  <li><a [routerLink]="'htmlyoutube'" class="h_link">HTML YouTube</a></li>
                </ul>
              </div>
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML APIs</h5>
                </div>
                <ul class="space-y-1">
                  <li><a [routerLink]="'htmlwebapis'" class="h_link">HTML Web APIs</a></li>
                  <li><a [routerLink]="'htmlgeolocation'" class="h_link">HTML Geolocation</a></li>
                  <li><a [routerLink]="'htmldragdrop'" class="h_link">HTML Drag and Drop</a></li>
                  <li><a [routerLink]="'htmlwebstorage'" class="h_link">HTML Web Storage</a></li>
                  <li><a [routerLink]="'htmlwebworkers'" class="h_link">HTML Web Workers</a></li>
                  <li><a [routerLink]="'htmlsse'" class="h_link">HTML SSE</a></li>
                </ul>
              </div>
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML Examples</h5>
                </div>
                <ul class="space-y-1">
                  <li><a href="" class="h_link">HTML Examples</a></li>
                  <li><a href="" class="h_link">HTML Editor</a></li>
                  <li><a href="" class="h_link">HTML Quiz</a></li>
                  <li><a href="" class="h_link">HTML Exercises</a></li>
                  <li><a href="" class="h_link">HTML Website</a></li>
                  <li><a href="" class="h_link">HTML Syllabus</a></li>
                  <li><a href="" class="h_link">HTML Study Plan</a></li>
                  <li><a href="" class="h_link">HTML Interview Prep</a></li>
                  <li><a href="" class="h_link">HTML Bootcamp</a></li>
                  <li><a href="" class="h_link">HTML Certificate</a></li>
                  <li><a href="" class="h_link">HTML Summary</a></li>
                  <li><a href="" class="h_link">HTML Accessibility</a></li>
                </ul>
              </div>
              <div class="w-full space-y-2">
                <div class="p-2 px-3.5 bg-gray-100 -mx-5">
                  <h5 class="text-dark">HTML References</h5>
                </div>
                <ul class="space-y-1">
                  <li><a href="" class="h_link">HTML Tag List</a></li>
                  <li><a href="" class="h_link">HTML Attributes</a></li>
                  <li><a href="" class="h_link">HTML Global Attributes</a></li>
                  <li><a href="" class="h_link">HTML Browser Support</a></li>
                  <li><a href="" class="h_link">HTML Events</a></li>
                  <li><a href="" class="h_link">HTML Colors</a></li>
                  <li><a href="" class="h_link">HTML Canvas</a></li>
                  <li><a href="" class="h_link">HTML Audio/Video</a></li>
                  <li><a href="" class="h_link">HTML Doctypes</a></li>
                  <li><a href="" class="h_link">HTML Character Sets</a></li>
                  <li><a href="" class="h_link">HTML URL Encode</a></li>
                  <li><a href="" class="h_link">HTML Lang Codes</a></li>
                  <li><a href="" class="h_link">HTTP Messages</a></li>
                  <li><a href="" class="h_link">HTTP Methods</a></li>
                  <li><a href="" class="text16 text-dark/80">PX to EM Converter</a></li>
                  <li><a href="" class="text16 text-dark/80">Keyboard Shortcuts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="w-[calc(100%-320px)] h-[calc(100vh-136px)] overflow-y-auto ml-auto p-3.5">
            <router-outlet></router-outlet>  
          </div>
        </div>
      </div>
    </main>
</div>