<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5">
        <h3 class="titel font-medium">HTML Page Title</h3>
        <p class="text16">Every web page should have a page title to describe the meaning of the page.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The Title Element</h3>
        <p>The <code>&lt;title&gt;</code> element adds a title to your page:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5 xl:space-y-5">
            <div class="p-6 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>head <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                        <span style="color:#999">&lt;</span>title <span style="color:#999">&gt;</span>
                    </span>HTML Tutorial <span style="color:#905">
                        <span style="color:#999">&lt;</span>/title <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>The content of the document...... <br>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                        <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">What is a Good Title?</h3>
        <p>The title should describe the content and the meaning of the page.</p>
        <p>The page title is very important for search engine optimization (SEO). The text is used by search engine algorithms to decide the order when listing pages in search results.</p>
        <p>The <code>&lt;title&gt;</code> element:</p>
        <ul class="space-y-1.5 pl-5 list-disc">
            <li>defines a title in the browser toolbar</li>
            <li>provides a title for the page when it is added to favorites</li>
            <li>displays a title for the page in search engine-results</li>
        </ul>
        <p>So, try to make the title as accurate and meaningful as possible!</p>
    </div>
</div>

