<div class="w-full py-10 px-5">
    <div class="w-full space-y-3.5 xl:space-y-5 border-b border-dark/20 pb-6">
        <h3 class="titel font-medium">HTML - The Head Element</h3>
        <p class="text16">The HTML <code>&lt;head&gt;</code> element is a container for the following elements: <code>&lt;title&gt;</code>, <code>&lt;style&gt;</code>, <code>&lt;meat&gt;</code>, <code>&lt;link&gt;</code>, <code>&lt;scrpit&gt;</code>, and <code>&lt;base&gt;</code>.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;head&gt;</code> Element</h3>
        <p>The <code>&lt;head&gt;</code> element holds metadata about the document and is positioned between the <code>&lt;html&gt;</code> tag and the <code>&lt;body&gt;</code> tag.</p>
        <p>HTML metadata provides information about the web page itself. This data isn't shown directly on the page.</p>
        <p>Metadata usually includes details like the document's title, character encoding, linked stylesheets, scripts, and other descriptive information.</p>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;title&gt;</code> Element</h3>
        <p>The <code>&lt;title&gt;</code> tag sets the title of the webpage. It should contain only text and appears in the browser tab or window title bar.</p>
        <p>The <code>&lt;title&gt;</code> element is a mandatory part of every HTML document.</p>
        <p>A page's title plays a key role in search engine optimization (SEO). Search engines use the title to help determine how pages are ranked in search results.</p>
        <p>The <code>&lt;title&gt;</code> element:</p>
        <ul class="space-y-1.5 list-disc pl-10">
            <li>defines a title in the browser toolbar</li>
            <li>provides a title for the page when it is added to favorites</li>
            <li>displays a title for the page in search engine-results</li>
        </ul>
        <p>So, try to make the title as accurate and meaningful as possible!</p>
        <p>A simple HTML document:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:slategray">&lt;!DOCTYPE html&gt;</span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>html <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>head <span style="color:#999">&gt;</span>
                    </span>
                    <br> &nbsp; <span style="color:#905">
                      <span style="color:#999">&lt;</span>title <span style="color:#999">&gt;</span>
                    </span>A Meaningful Page Title <span style="color:#905">
                      <span style="color:#999">&lt;</span>/title <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>The content of the document...... <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/html <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;style&gt;</code> Element</h3>
        <p>The <code>&lt;style&gt;</code> element is used to define style information for a single HTML page:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>style <span style="color:#999">&gt;</span>
                    </span>
                    <span style="color:#905">
                      <br> &nbsp; body <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">background-color <span style="color:#005cc5">
                          <span style="color:#999">:</span> powderblue <span style="color:#999">;</span>
                        </span>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>&nbsp; h1 <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">color <span style="color:#005cc5">
                          <span style="color:#999">:</span> red <span style="color:#999">;</span>
                        </span>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br> &nbsp; p <span style="color:#999">&#123;</span>
                      <span style="color:#d73a49">color <span style="color:#005cc5">
                          <span style="color:#999">:</span> blue <span style="color:#999">;</span>
                        </span>
                      </span>
                      <span style="color:#999">&#125;</span>
                      <br>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/style <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;link&gt;</code> Element</h3>
        <p>The <code>&lt;link&gt;</code> tag specifies the connection between the current HTML document and an external resource.</p>
        <p>The <code>&lt;link&gt;</code> element is commonly used to connect an external CSS stylesheet to the HTML document. </p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>link <span style="color:green"> rel <span style="color:#005cc5">="stylesheet"</span> href <span style="color:#005cc5">="mystyle.css"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;meta&gt;</code> Element</h3>
        <p>The <code>&lt;meta&gt;</code> tag is often used to define the character encoding, page description, keywords, author information, and viewport configuration for the document.</p>
        <p>Metadata doesn’t appear on the webpage itself, but it’s used by browsers for handling content and refresh settings, by search engines for indexing, and by various web services for processing page information.</p>
        <h3 class="font-normal">Examples</h3>
        <div>
            <p><b>Define the character set used:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                  <span style="color:#905">
                    <span style="color:#999">&lt;</span>meta <span style="color:green"> charset <span style="color:#005cc5">="UTF-8"</span>
                    </span>
                    <span style="color:#999">&gt;</span>
                  </span>
                </div>
            </div>
        </div>
        <div>
            <p><b>Define keywords for search engines:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>
                            meta<span style="color:green"> name<span style="color:#005cc5">="keywords"</span>
                                content<span style="color:#005cc5">="HTML, CSS, JavaScript"</span></span><span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p><b>Define a description of your web page:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>
                            meta<span style="color:green"> name<span style="color:#005cc5">="description"</span>
                                content<span style="color:#005cc5">="Free Web tutorials"</span></span><span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p><b>Define the author of a page:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>
                            meta<span style="color:green"> name<span style="color:#005cc5">="author"</span>
                                content<span style="color:#005cc5">="mini"</span></span><span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p><b>Refresh document every 60 seconds:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>
                            meta<span style="color:green"> http-equiv<span style="color:#005cc5">="refresh"</span>
                                content<span style="color:#005cc5">="60"</span></span><span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p><b>Setting the viewport to make your website look good on all devices:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>
                            meta<span style="color:green"> name<span style="color:#005cc5">="viewport"</span>
                                content<span style="color:#005cc5">="width=device-width, initial-scale=1.0"</span></span><span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <p>Example of <meta> tags:</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> charset <span style="color:#005cc5">="UTF-8"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> name <span style="color:#005cc5">="description"</span> content <span style="color:#005cc5">="Free Web tutorials"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> name <span style="color:#005cc5">="keywords"</span> content <span style="color:#005cc5">="HTML, CSS, JavaScript"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>meta <span style="color:green"> name <span style="color:#005cc5">="author"</span> content <span style="color:#005cc5">="John Doe"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Setting The Viewport</h3>
        <p>The viewport refers to the portion of a web page that is visible to the user. Its size depends on the device—smaller on smartphones and larger on desktop screens.</p>
        <p>You should include the following <code>&lt;meta&gt;</code> element in all your web pages:</p>
        <div>
            <p><b>Setting the viewport to make your website look good on all devices:</b></p>
            <div>
                <div class="border border-yellow-800 p-2.5">
                    <div>
                        <span style="color:#905">
                            <span style="color:#999">&lt;</span>
                            meta<span style="color:green"> name<span style="color:#005cc5">="viewport"</span>
                                content<span style="color:#005cc5">="width=device-width, initial-scale=1.0"</span></span><span style="color:#999">&gt;</span>
                        </span>
                    </div>
                </div>
            </div>
            <p>This tells the browser how to manage the page’s size and scale on different devices.</p>
            <p>The <code>width=device-width</code> setting makes the page's width match the screen width of the user's device, which can differ across phones, tablets, and desktops.</p>
            <p>The <code>initial-scale=1.0</code> setting defines the default zoom level of the page when it initially loads in the browser.</p>
            <p>Here is an example of a web page without the viewport meta tag, and the same web page with the viewport meta tag:</p>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;script&gt;</code> Element</h3>
        <p>The <code>&lt;script&gt;</code> element is used to define client-side JavaScripts.</p>
        <p>The following JavaScript writes "Hello JavaScript!" into an HTML element with id="demo":</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>script <span style="color:#999">&gt;</span>
                    </span>
                    <span class="jscolor" style="color:black">
                      <br>
                      <span style="color:#005cc5">function</span> myFunction() &#123; <br>
                      <span style="color:#905"></span> &nbsp; <span style="color:#905"></span> document. <span style="color:black">getElementById</span>( <span style="color:green">"demo"</span>). <span style="color:black">innerHTML</span> = <span style="color:green">"Hello JavaScript!"</span>; <br>
                      <span style="color:#905"></span> &#125; <br>
                    </span>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/script <span style="color:#999">&gt;</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">The HTML <code>&lt;base&gt;</code> Element</h3>
        <p>The <code>&lt;base&gt;</code> element specifies the base URL and/or target for all relative URLs in a page.</p>
        <p>The <code>&lt;base&gt;</code> tag must have either an href or a target attribute present, or both.</p>
        <p>There can only be one single <code>&lt;base&gt;</code> element in a document!</p>
        <div class="p-6 bg-yellow-600/20 space-y-3.5">
            <h3>Example</h3>
            <div class="p-6 py-3 border-l-2 border-yellow-600 bg-white">
                <div>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>base <span style="color:green"> href <span style="color:#005cc5">="https://www.w3schools.com/"</span> target <span style="color:#005cc5">="_blank"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/head <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>img <span style="color:green"> src <span style="color:#005cc5">="images/stickman.gif"</span> width <span style="color:#005cc5">="24"</span> height <span style="color:#005cc5">="39"</span> alt <span style="color:#005cc5">="Stickman"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>a <span style="color:green"> href <span style="color:#005cc5">="tags/tag_base.asp"</span>
                      </span>
                      <span style="color:#999">&gt;</span>
                    </span>HTML base Tag <span style="color:#905">
                      <span style="color:#999">&lt;</span>/a <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                    <span style="color:#905">
                      <span style="color:#999">&lt;</span>/body <span style="color:#999">&gt;</span>
                    </span>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full space-y-3.5 xl:space-y-5 py-6 border-b border-dark/20">
        <h3 class="font-normal">Chapter Summary</h3>
        <ul class="space-y-1.5 list-disc pl-5">
          <li>The <code>&lt;head&gt;</code> tag acts as a container for metadata, which provides information about the HTML document.</li>
          <li>The <code>&lt;head&gt;</code> element is located between the opening <code>&lt;html&gt;</code> tag and the <code>&lt;body&gt;</code> tag in an HTML document.</li>
          <li>The <code>&lt;title&gt;</code> tag is mandatory and specifies the title of the HTML document.</li>
          <li>The <code>&lt;style&gt;</code> tag is used to include CSS style rules directly within a single HTML document.</li>
          <li>The  <code>&lt;link&gt;</code> element is commonly used to connect an external CSS stylesheet to the HTML document.</li>
          <li>The <code>&lt;meta&gt;</code> tag is generally used to define the character encoding, describe the page content, list keywords, identify the author, and set viewport settings for responsive design.</li>
          <li>The <code>&lt;script&gt;</code> element is used to define client-side JavaScripts</li>
          <li>The <code>&lt;base&gt;</code> tag sets the base URL and/or default target for all relative links on the page.</li>
        </ul>               
    </div>
</div>